/*---------------------------------------------------------
 Cards (_cards.scss)
-------------------------------------------------------- */

.hentry.col { margin-bottom: 0; }

.card {
	border-radius: 2px;
	@extend .z-depth-1;
	background: $card-bg-color;
	margin-bottom: $gut;
	padding-bottom: $card-padding/2;
	@include transition(box-shadow 0.35s);
	
	.card-link { display: block; }
	
	.card-content { padding: 1.5*$card-padding $card-padding $card-padding; }
	
	.entry-title {
		margin: 0;
		padding-bottom: $card-padding;	
		color: $link-color;		
	}
	
	.entry-summary {
		padding-top: $card-padding;
		@include text-body2-text;
		color: $color-text;
		
		p { margin: 0; }
		time {
			font-weight: 700;
			margin-right: 4px;
		}
	}
	
	&:hover {
		@extend .z-depth-2;
	}
}

.card.invert {
	background: $primary-color;	
	
	.entry-title { color: $color-white; }
	.entry-summary  { color: transparentize($color-white, 0.25); }
}

.card-image {
	border-radius: 2px 2px 0 0;	
	img { border-radius: 2px 2px 0 0; }
}

.card-footer {
	padding: $card-padding;	
}


// Pictured item
.pictured-card-item {
	@include clearfix;
	
	.pci-img {
		display: block;
		width: 72px;
		float: left;
		img {
			width: 40px;
			height: auto;
		}
	}
	
	.pci-content {
		margin-left: 72px;
		
		.pci-title {
			@include text-body-text;
			line-height: 1.714;
			color: $color-text;
			margin: 0;			
		}
		
		.pci-caption {
			@include text-caption;
			color: $color-text-semi;
			margin: 0;
		}
	}
}


// post in lists
.tpl-related-post {
	padding: $card-padding 0;
	border-bottom: 1px solid $color-border-normal;
	&:first-of-type {
		border-top: 1px solid $color-border-normal;
	}
	
	& > a {
		display: block;
	}
	
	.entry-title {
		@include text-title;
		color: $color-text;
		font-weight: 400;
		a {
			color: inherit;
			&:hover, &:focus, &:active {
				color: $color-link-one;		
			}
		}
	}
}