/*---------------------------------------------------------
 Navbar (_navbar.scss)
-------------------------------------------------------- */

// Spec vars
$nb-height-mobile : 48px;
$nb-height-mobile-extra : 56px;
$nb-height-desktop : 64px;
$nb-padding : 16px;

$nb-color-bg : $primary-color !default;


// Panel
.navbar {
    height: $nb-height-mobile;
        
    @include for(small-screens) {
        height: $nb-height-mobile-extra;
    }
    @include for(medium-screens) {
        height: $nb-height-desktop;
    }
    position: relative;
    width: 100%;
    
    .navbar-panel {
        position: relative;
        @include clearfix;
        @extend .z-depth-1;
        color: $color-white;
        background: $nb-color-bg;
        padding: $nb-padding;
        height: $nb-height-mobile;
        z-index: 900;
        width: 100%;
        
        @include for(small-screens) {
            height: $nb-height-mobile-extra;
        }
        @include for(medium-screens) {
            height: $nb-height-desktop;
        }
    }
    
    &.fixed  {
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .material-icons { //vertical centering
        vertical-align: middle;
        line-height: $nb-height-mobile - ($nb-padding * 2);
        @include for(small-screens) {
            line-height: $nb-height-mobile-extra - ($nb-padding * 2);
        }
        @include for(medium-screens) {
            line-height: $nb-height-desktop - ($nb-padding * 2);
        }
    }
}

.admin-bar .navbar.fixed {
    @media screen and (min-width: 600px) { top: 46px; }
}

// Menu button
.navbar-icon {
    float: left;
    width: 72px - $nb-padding;    
}

//Title
.navbar-title {
    float: left;
    
}

//Logo
.navbar-logo {    
    display: inline-block;        
    position: absolute;   
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
        
    img {
        height: 36px;
        width: auto;
        @include for(small-screens) {
            height: 48px;
        }
    }
}

// Search
.navbar-actions {
    float: right;
}