/* modules */
/*---------------------------------------------------------
 Reset (_reset.scss)
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff; }

a:focus,
a:hover,
a:active {
  outline: 0;
  outline: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

sub,
sup {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

a img {
  border: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/*---------------------------------------------------------
 Presets (_presets.scss)
-------------------------------------------------------- */
/*@mixin lead {
	font: {
		family: $titleFont;
		size: 18px;
	}
	line-height: $tightLH;
	color: $titleDarkC;
	@include smart-margin($pMargin);
}*/
/** button **/
/** label */
/** thumbnail **/
/* menu reset */
.screen-reader-text {
  display: none; }

/*---------------------------------------------------------
 Mixins (_utility.scss)
-------------------------------------------------------- */
/*---------------------------------------------------------
 Rem (_utility.scss)
-------------------------------------------------------- */
/*---------------------------------------------------------
 Helpers (_utility.scss)
-------------------------------------------------------- */
/*.align-left
.alignleft,
.entry-thumbnail.thumbnail {
	display: inline;
	float: left;
	margin: 0 1.5em 1.5em 0;
}

.align-right,
.alignright {
	display: inline;
	float: right;
	margin: 0 0 1.5em 1.5em;
}
.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
}*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

img.wp-smiley {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  border: none; }

/* text alignment */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: left; }

/*---------------------------------------------------------
 Captions (_patterns.scss)
-------------------------------------------------------- */
.wp-caption {
  max-width: 100%;
  font-style: italic;
  line-height: 1.35;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

.wp-caption-text,
.entry-thumbnail-caption,
.cycle-caption {
  font-style: italic;
  line-height: 1.35;
  font-size: 13px;
  font-size: 1.3rem; }

.wp-caption .wp-caption-text {
  margin: 12px 0;
  margin:  1.2rem 0;
  text-align: center; }

div.wp-video-shortcode {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

/*---------------------------------------------------------
 Predefined classes and selections (_utility.scss)
-------------------------------------------------------- */
/* utilities */
.clear {
  clear: both; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  text-decoration: none; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0; }

.invisible {
  visibility: hidden; }

.break, h1, h2, h3, h4, h5, h6, pre, table, p, ul, ol, dl, blockquote {
  word-break: break-word;
  word-wrap: break-word; }

/* selections */
a:link {
  -webkit-tap-highlight-color: #e0edd2;
  -webkit-tap-highlight-color: #dfecd1; }

/*  highloght color for Safari iOS */
::-webkit-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::-moz-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

/*---------------------------------------------------------
 Google maps (_utility.scss)
-------------------------------------------------------- */
iframe[src*="google.com/maps"] {
  width: 100%;
  height: 300px; }
  @media screen and (min-width: 800px) {
    iframe[src*="google.com/maps"] {
      height: 600px; } }

/*--------------------------------------------------------------
 Forms (_forms.scss)
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  cursor: pointer;
  border: 1px solid;
  border-color: #eeeeee;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #e1e1e1;
  background: #e1e1e1; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #e1e1e1;
  background: #e1e1e1; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

input[type=search] {
  -moz-appearance: none;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666666;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #2f3239; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

/*---------------------------------------------------------
 Semantics (_utility.scss)
-------------------------------------------------------- */
/* titles */
h1, h2, h3, h4, h5, h6 {
  color: #2f3239;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal; }
  h1 a, h1 a:visited, a h1, h2 a, h2 a:visited, a h2, h3 a, h3 a:visited, a h3, h4 a, h4 a:visited, a h4, h5 a, h5 a:visited, a h5, h6 a, h6 a:visited, a h6 {
    color: inherit;
    text-decoration: none;
    font-weight: normal; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #177ca3; }

/*h1 {
	@include for(medium-screens) {
		@include rem('font-size', 30px);
	}
	font-weight: normal;
	line-height: 1.15;
	@include rem('font-size', 28px);
}

h2 {
	@include for(medium-screens) {
		@include rem('font-size', 28px);
	}
	@include rem('font-size', 26px);
	line-height: 1.2;
}

h3 {
	@include rem('font-size', 21px);
	line-height: 1.2;
}

h4 {
	font-weight: normal;
	@include rem('font-size', 18px);
	line-height: 1.2;
}

h5 {	
	@include rem('letter-spacing', 1px);
	@include rem('font-size', 14px);
	line-height: 1.4;
}

h6 {
	font-weight: normal;
	text-transform: uppercase;
	@include rem('letter-spacing', 2px);
	@include rem('font-size', 13px);
	line-height: 1.5;
}*/
/*---------------------------------------------------------
Quote (_semantics.scss)
-------------------------------------------------------- */
/*blockquote {
	clear: both;
	@include rem('margin', $base 0);
	
	p {
		line-height: 1.5;
		@include rem('font-size', 18px);
	}
	cite {
		font-style: normal; //reset
		@include rem('margin-bottom', $base);
		@include rem('font-size', 13px);
		&:before {
			content: "\2014";
		}
	}
	
	&.testimonial {
		line-height: 0; //reset
		background-color: $color-secondary;
		@include rem('margin-bottom', $base*2);
		@include rem('padding', $base*1.5 $gut);
		@include border-radius;
		p {
			margin-bottom: 0; // reset
		}
		cite {
			display: block;
			margin-bottom: 0; // reset
			font-weight: bold;
			@include rem('padding', $base/2 0);
			@include rem('font-size', 14px);
		}
		&:after {
			content: "";
			position: relative;
			width: 0; //reset
			height: 0; //reset
			border-left: 22px solid transparent;
			border-right: 22px solid transparent;
			border-top: 22px solid $color-border-normal;
			@include rem('left', 5px);
			@include rem('bottom', -60px);
		}
	}
}*/
q:before {
  content: "\201C"; }
q:after {
  content: "\201D"; }

/*---------------------------------------------------------
Code (_semantics.scss)
-------------------------------------------------------- */
tt,
kbd,
pre,
code,
samp,
var {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;
  background-color: #f1f1f1;
  padding: 4px 6px;
  padding:  0.4rem 0.6rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

pre {
  overflow: auto;
  max-width: 100%;
  line-height: 1.4;
  margin: 24px 0;
  margin:  2.4rem 0;
  padding: 36px;
  padding: 3.6rem;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  color: #666; }

/*---------------------------------------------------------
Details (_semantics.scss)
-------------------------------------------------------- */
abbr,
acronym,
dfn {
  cursor: help;
  color: #1f1f1f;
  border-bottom: 1px dotted;
  letter-spacing: 1px;
  letter-spacing: 0.1rem; }

details summary {
  font-weight: bold;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
details :focus {
  outline: none; }

/*---------------------------------------------------------
In-page elements (_semantics.scss)
-------------------------------------------------------- */
ins,
mark {
  background-color: #eefded;
  color: #1f1f1f;
  text-decoration: none; }

del {
  text-decoration: line-through; }

b,
strong {
  font-weight: bold; }

dfn,
i,
em,
cite {
  font-style: italic; }

small {
  font-size: 85%; }

big {
  font-size: 125%; }

address {
  margin: 24px 0;
  margin:  2.4rem 0; }

hr {
  border: 0;
  border-top: 1px solid #dfdfdf;
  height: 1px;
  margin-bottom: 24px; }
  hr.hr-line-dashed {
    border-top: 1px dashed #dfdfdf; }
  hr.hr-line-double {
    border-top: 6px double #dfdfdf; }

figure {
  margin: 0; }

/*---------------------------------------------------------
Lists (_semantics.scss)
-------------------------------------------------------- */
ul,
ol {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

/*---------------------------------------------------------
Tables (semantics.scss)
-------------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  border: 1px solid #dfdfdf;
  border-left: 0;
  margin: 24px 0;
  margin:  2.4rem 0; }
  table caption {
    font-weight: bold;
    margin-bottom: 24px;
    margin-bottom: 2.4rem; }
  table th,
  table td {
    padding: 12px 7.5px;
    padding:  1.2rem 0.75rem; }
  table th {
    border-left: 1px solid #dfdfdf; }
  table td {
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf; }
    table td[valign="top"] {
      vertical-align: top; }
      table td[valign="top"] img {
        vertical-align: top; }
    table td[valign="bottom"] {
      vertical-align: bottom; }
      table td[valign="bottom"] img {
        vertical-align: bottom; }

/*---------------------------------------------------------
Alerts (_semantics.scss)
-------------------------------------------------------- */
.msg-alert {
  position: relative;
  overflow: hidden;
  border: 1px solid #b9b9b9;
  background-color: #dfdfdf;
  padding: 36px 30px;
  padding:  3.6rem 3rem;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .msg-alert:before {
    content: "\f05a";
    display: block;
    position: absolute;
    opacity: .1;
    font-family: FontAwesome;
    line-height: 1;
    bottom: -12px;
    bottom: -1.2rem;
    right: -12px;
    right: -1.2rem;
    font-size: 72px;
    font-size: 7.2rem; }
  .msg-alert.msg-error {
    color: #d04242;
    border: 1px solid #dfbaba;
    background-color: #f7eeee; }
    .msg-alert.msg-error:before {
      content: "\f06a"; }
  .msg-alert.msg-success {
    color: #339d56;
    border: 1px solid #badfc6;
    background: #eef7f1; }
    .msg-alert.msg-success:before {
      content: "\f058"; }
  .msg-alert.msg-important {
    color: #f89e01;
    border: 1px solid #fff365;
    background-color: #fffde5; }
    .msg-alert.msg-important:before {
      content: "\f06a"; }

/*---------------------------------------------------------
 Content elements (_semantics.scss)
-------------------------------------------------------- */
/*---------------------------------------------------------
 Grid (_grid.scss)
-------------------------------------------------------- */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.bit {
  float: left;
  padding: 0 15px;
  width: 100%; }

.frame {
  margin: 0 -15px; }

.frame:after {
  content: "";
  display: table;
  clear: both; }

.mf-8 {
  width: 66.6666666667%; }

.mf-6 {
  width: 50%; }

.mf-4 {
  width: 33.3333333333%; }

@media screen and (min-width: 500px) {
  .sm-1 {
    width: 8.3333333333%; }

  .sm-2 {
    width: 16.6666666667%; }

  .sm-3 {
    width: 25%; }

  .sm-4 {
    width: 33.3333333333%; }

  .sm-5 {
    width: 41.6666666667%; }

  .sm-6 {
    width: 50%; }

  .sm-7 {
    width: 58.3333333333%; }

  .sm-8 {
    width: 66.6666666667%; }

  .sm-9 {
    width: 75%; }

  .sm-10 {
    width: 83.3333333333%; }

  .sm-11 {
    width: 91.6666666667%; }

  .sm-12 {
    width: 100%; }

  .sm-offeset-0 {
    margin-left: 0% !important; }

  .sm-offeset-1 {
    margin-left: 8.3333333333% !important; }

  .sm-offeset-2 {
    margin-left: 16.6666666667% !important; }

  .sm-offeset-3 {
    margin-left: 25% !important; }

  .sm-offeset-4 {
    margin-left: 33.3333333333% !important; }

  .sm-offeset-5 {
    margin-left: 41.6666666667% !important; }

  .sm-offeset-6 {
    margin-left: 50% !important; }

  .sm-offeset-7 {
    margin-left: 58.3333333333% !important; }

  .sm-offeset-8 {
    margin-left: 66.6666666667% !important; }

  .sm-offeset-9 {
    margin-left: 75% !important; }

  .sm-offeset-10 {
    margin-left: 83.3333333333% !important; }

  .sm-offeset-11 {
    margin-left: 91.6666666667% !important; }

  .sm-col-5 {
    width: 20%; } }
@media screen and (min-width: 800px) {
  .md-1 {
    width: 8.3333333333%; }

  .md-2 {
    width: 16.6666666667%; }

  .md-3 {
    width: 25%; }

  .md-4 {
    width: 33.3333333333%; }

  .md-5 {
    width: 41.6666666667%; }

  .md-6 {
    width: 50%; }

  .md-7 {
    width: 58.3333333333%; }

  .md-8 {
    width: 66.6666666667%; }

  .md-9 {
    width: 75%; }

  .md-10 {
    width: 83.3333333333%; }

  .md-11 {
    width: 91.6666666667%; }

  .md-12 {
    width: 100%; }

  .md-offset-0 {
    margin-left: 0% !important; }

  .md-offset-1 {
    margin-left: 8.3333333333% !important; }

  .md-offset-2 {
    margin-left: 16.6666666667% !important; }

  .md-offset-3 {
    margin-left: 25% !important; }

  .md-offset-4 {
    margin-left: 33.3333333333% !important; }

  .md-offset-5 {
    margin-left: 41.6666666667% !important; }

  .md-offset-6 {
    margin-left: 50% !important; }

  .md-offset-7 {
    margin-left: 58.3333333333% !important; }

  .md-offset-8 {
    margin-left: 66.6666666667% !important; }

  .md-offset-9 {
    margin-left: 75% !important; }

  .md-offset-10 {
    margin-left: 83.3333333333% !important; }

  .md-offset-11 {
    margin-left: 91.6666666667% !important; }

  .md-col-5 {
    width: 20%; } }
@media screen and (min-width: 1000px) {
  .lg-1 {
    width: 8.3333333333%; }

  .lg-2 {
    width: 16.6666666667%; }

  .lg-3 {
    width: 25%; }

  .lg-4 {
    width: 33.3333333333%; }

  .lg-5 {
    width: 41.6666666667%; }

  .lg-6 {
    width: 50%; }

  .lg-7 {
    width: 58.3333333333%; }

  .lg-8 {
    width: 66.6666666667%; }

  .lg-9 {
    width: 75%; }

  .lg-10 {
    width: 83.3333333333%; }

  .lg-11 {
    width: 91.6666666667%; }

  .lg-12 {
    width: 100%; }

  .lg-offset-0 {
    margin-left: 0% !important; }

  .lg-offset-1 {
    margin-left: 8.3333333333% !important; }

  .lg-offset-2 {
    margin-left: 16.6666666667% !important; }

  .lg-offset-3 {
    margin-left: 25% !important; }

  .lg-offset-4 {
    margin-left: 33.3333333333% !important; }

  .lg-offset-5 {
    margin-left: 41.6666666667% !important; }

  .lg-offset-6 {
    margin-left: 50% !important; }

  .lg-offset-7 {
    margin-left: 58.3333333333% !important; }

  .lg-offset-8 {
    margin-left: 66.6666666667% !important; }

  .lg-offset-9 {
    margin-left: 75% !important; }

  .lg-offset-10 {
    margin-left: 83.3333333333% !important; }

  .lg-offset-11 {
    margin-left: 91.6666666667% !important; }

  .lg-col-5 {
    width: 20%; } }
/*---------------------------------------------------------
LAM Galleries (_modules.scss)
-------------------------------------------------------- */
.lam-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.fresco {
  display: block;
  width: 100%; }
  .fresco img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; }

.lam-gallery * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.entry-content .lam-gallery {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 98%; }
  .entry-content .lam-gallery:first-child {
    margin-top: 0; }
  .entry-content .lam-gallery:last-child {
    margin-bottom: 0; }

.entry-content .lam-gallery ul,
.lam-gallery ul {
  list-style-type: none !important;
  padding: 0;
  margin: 0 -5px; }
.entry-content .lam-gallery li,
.lam-gallery li {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 5px;
  float: left; }
.entry-content .lam-gallery .cols-1 li,
.lam-gallery .cols-1 li {
  width: 100%; }
.entry-content .lam-gallery .cols-2 li,
.lam-gallery .cols-2 li {
  width: 50%; }
.entry-content .lam-gallery .cols-3 li,
.lam-gallery .cols-3 li {
  width: 33.3%; }
.entry-content .lam-gallery .cols-4 li,
.lam-gallery .cols-4 li {
  width: 25%; }
.entry-content .lam-gallery .cols-5 li,
.lam-gallery .cols-5 li {
  width: 20%; }
.entry-content .lam-gallery .cols-6 li,
.lam-gallery .cols-6 li {
  width: 16.6%; }
.entry-content .lam-gallery .cols-7 li,
.lam-gallery .cols-7 li {
  width: 14.28%; }
.entry-content .lam-gallery .cols-8 li,
.lam-gallery .cols-8 li {
  width: 12.5%; }

.fr-caption h3 {
  color: #ffffff;
  font-size: 14px; }

/*---------------------------------------------------------
 Top Link (_modules.scss)
-------------------------------------------------------- */
#top-link {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 14px;
  border: 1px solid #cecece;
  background: #eee;
  background: rgba(230, 230, 230, 0.9);
  padding: 4px 15px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  z-index: 900;
  cursor: pointer; }
  #top-link a,
  #top-link a:visited {
    color: #222222;
    font-size: 11px;
    line-height: 1.1;
    text-decoration: none;
    border: none !important;
    text-shadow: 1px 1px 1px #F2F2F2; }
  #top-link:hover, #top-link:active, #top-link:focus {
    background: #d2d2d2;
    background: rgba(200, 200, 200, 0.9);
    border: 1px solid #c5c5c5; }

.no-js #top-link,
.ie6 #top-link {
  display: none !important; }

/*---------------------------------------------------------
 Search (_modules.scss)
-------------------------------------------------------- */
.searchform {
  border: 2px solid #ffffff;
  position: relative;
  height: 30px; }
  .searchform, .searchform * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .searchform .search-field {
    width: 100%;
    padding: 6px 28px 6px 6px;
    background: transparent;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 14px;
    line-height: 1.4rem;
    border: none;
    color: #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
    .searchform .search-field:focus {
      background: rgba(255, 255, 255, 0.85);
      color: #333; }
  .searchform .submit-icon {
    background: transparent;
    width: 29px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .searchform .submit-icon .fa {
      color: #ffffff;
      position: absolute;
      top: 4px;
      left: 6px;
      z-index: 1;
      width: 24px;
      height: 24px;
      font-size: 18px; }
    .searchform .submit-icon input {
      position: absolute;
      background: transparent;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      border: none;
      padding: 0;
      cursor: pointer;
      box-shadow: none;
      text-shadow: none; }

.searchform.focus {
  border-color: #177ca3; }
  .searchform.focus .submit-icon .fa {
    color: #177ca3; }
    .searchform.focus .submit-icon .fa:hover {
      color: #146b8d; }

#primary .search-holder {
  margin-bottom: 36px; }
  #primary .search-holder .res-count {
    padding-top: 4px;
    font-size: 11px; }

.search-item {
  margin-bottom: 24px; }
  .search-item h4 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: normal; }
  .search-item cite {
    display: block;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: normal;
    color: #aa0000;
    margin-bottom: 12px; }
  .search-item .item-summary p {
    margin: 0; }

/*---------------------------------------------------------
 Custom Toggle (_modules.scss)
-------------------------------------------------------- */
.tst-toggle .tst-toggle-content {
  display: none; }
.tst-toggle .tst-toggle-trigger span {
  display: inline-block;
  color: #177ca3;
  border-bottom: 1px dashed;
  cursor: pointer;
  font-size: 12px;
  font-size: 1.2rem; }
  .tst-toggle .tst-toggle-trigger span:hover {
    color: #aa0000; }
.tst-toggle .tst-toggle-trigger .close {
  display: none; }

.tst-toggle.toggled .tst-toggle-content {
  display: block; }
.tst-toggle.toggled .tst-toggle-trigger {
  margin-top: 18px;
  margin-top: 1.8rem; }
.tst-toggle.toggled .tst-toggle-trigger .open {
  display: none; }
.tst-toggle.toggled .tst-toggle-trigger .close {
  display: inline-block; }

/*---------------------------------------------------------
 Symple shortcodes corrections (_modules.scss)
-------------------------------------------------------- */
.entry-content .symple-toggle.symple-all {
  margin-top: 1.5714em;
  margin-bottom: 1.5714em; }
  .entry-content .symple-toggle.symple-all:first-child {
    margin-top: 0; }
  .entry-content .symple-toggle.symple-all:last-child {
    margin-bottom: 0; }
  .entry-content .symple-toggle.symple-all .symple-toggle-trigger {
    padding-top: 10px;
    padding-bottom: 10px; }

.symple-tabs ul.ui-tabs-nav .ui-state-active a {
  height: 45px !important; }

/*---------------------------------------------------------
 Repeatable blocks (_modules.scss)
-------------------------------------------------------- */
.repeatable-blocks {
  margin-top: 24px;
  margin-bottom: 24px; }
  .repeatable-blocks:first-child {
    margin-top: 0; }
  .repeatable-blocks:last-child {
    margin-bottom: 0; }
  .repeatable-blocks .rb-item {
    margin-top: 24px;
    margin-bottom: 24px; }
    .repeatable-blocks .rb-item:first-child {
      margin-top: 0; }
    .repeatable-blocks .rb-item:last-child {
      margin-bottom: 0; }
  .repeatable-blocks h3 {
    margin-bottom: 12px;
    margin-bottom: 1.2rem; }
  .repeatable-blocks .rb-image {
    margin-bottom: 12px;
    margin-bottom: 1.2rem; }
  @media screen and (min-width: 800px) {
    .repeatable-blocks {
      margin-bottom: 0; } }

/*---------------------------------------------------------
 Partners gallery (_modules.scss)
-------------------------------------------------------- */
.partners.logo-gallery .bit {
  padding: 5px; }
  .partners.logo-gallery .bit:nth-of-type(3n+1) {
    clear: left; }
  @media screen and (min-width: 800px) {
    .partners.logo-gallery .bit:nth-of-type(3n+1) {
      clear: none; }
    .partners.logo-gallery .bit:nth-of-type(4n+1) {
      clear: left; } }
  @media screen and (min-width: 1000px) {
    .partners.logo-gallery .bit:nth-of-type(4n+1) {
      clear: none; }
    .partners.logo-gallery .bit:nth-of-type(6n+1) {
      clear: left; } }
.partners.logo-gallery .logo {
  border: 1px solid #eeeeee;
  position: relative; }
.partners.logo-gallery .logo-frame {
  height: 0;
  padding-bottom: 65%;
  position: relative;
  width: 100%; }
  .partners.logo-gallery .logo-frame span,
  .partners.logo-gallery .logo-frame a {
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center; }
    .partners.logo-gallery .logo-frame span img,
    .partners.logo-gallery .logo-frame a img {
      display: inline;
      height: auto;
      max-height: 98%;
      max-width: 100%;
      vertical-align: middle;
      width: auto; }
.partners.logo-gallery .logo .partner-cat {
  font-size: 10px;
  text-transform: uppercase;
  background: rgba(150, 150, 150, 0.95);
  color: #fff;
  padding: 5px 8px;
  display: none;
  position: absolute;
  z-index: 100;
  max-width: 90%;
  left: 6%;
  top: 10%;
  margin: 0; }
.partners.logo-gallery .logo:hover .partner-cat {
  display: inline-block; }

.partners.logo-gallery.frame {
  margin: 0 -5px; }

/*---------------------------------------------------------
  Yandex search (_modules.scss)
-------------------------------------------------------- */
.ya-site-form table {
  margin: 0;
  padding: 0;
  border: none; }
.ya-site-form td, .ya-site-form tr, .ya-site-form th {
  border: none;
  padding: 0; }
.ya-site-form .ya-site-form__search-input {
  padding: 0; }
.ya-site-form .ya-site-form__input input {
  padding: 6px; }

#ya-site-results .b-head_type_search-simple {
  display: none; }
#ya-site-results .b-serp-item__content {
  line-height: 1.4; }
#ya-site-results .b-serp-item__title {
  display: inline-block;
  padding-bottom: 0.65em; }
#ya-site-results .b-serp-item {
  margin-bottom: 1.8em; }
#ya-site-results .b-serp-item__number {
  display: none; }
#ya-site-results .b-body-items {
  padding-left: 0; }

/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
  font-size: 62.5%;
  background-color: #ffffff; }

body {
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

a {
  color: #177ca3;
  text-decoration: none; }
  a:visited {
    color: #177ca3; }
  a:hover {
    color: #0e4960; }

p {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  margin-top: 24px;
  margin-top: 2.4rem; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

/* structure */
#page {
  padding: 0 36px 36px; }

.container {
  width: 85%;
  max-width: 978px;
  margin: 0 auto; }

.site-header {
  padding: 10px;
  border-bottom: 1px solid #dfdfdf; }

.site-footer {
  padding: 10px;
  border-top: 1px solid #dfdfdf;
  font-size: 12px;
  font-size: 1.2rem; }

.tpl-post {
  margin: 36px 0;
  max-width: 700px; }
  .tpl-post .entry-header {
    margin-bottom: 18px; }
  .tpl-post .entry-title {
    font-size: 1.3em;
    line-height: 1.05;
    color: #2f3239; }
    .tpl-post .entry-title a {
      font-weight: bold; }

.tpl-post-full,
.tpl-page {
  padding: 36px 0;
  max-width: 700px; }
  .tpl-post-full .entry-header,
  .tpl-page .entry-header {
    margin-bottom: 24px; }
  .tpl-post-full .entry-title,
  .tpl-page .entry-title {
    font-size: 2em;
    line-height: 1.05;
    font-weight: bold;
    color: #2f3239; }

.crumbs {
  font-size: 14px;
  font-size: 1.4rem;
  color: #999999; }

.entry-meta {
  margin-top: 5px;
  font-size: 13px;
  color: #999999; }
  .entry-meta .sep {
    margin: 0 5px; }
  .entry-meta .category {
    text-transform: uppercase; }

.navigation {
  margin: 24px 0; }

.nav-links .nav-previous,
.nav-links .nav-next {
  display: inline-block;
  margin-right: 10px; }

#ui-datepicker-div {
  font-size: 12px; }

/*---------------------------------------------------------
 Menu main (_menu.scss)
-------------------------------------------------------- */
.social-menu-position:after {
  content: "";
  display: table;
  clear: both; }

.social-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  /*.vk a {
  	background: #3C6792;
  }
  
  .facebook a {
  	background: #3D549A;
  }
  
  .linkedin a {
  	background: #0393C9;
  }
  
  .twitter a {
  	background: #01ADED;
  }
  
  .rss a {
  	background: #FAA602;
  }
  
  .odnoklassniki a {
  	background: #EB9130;
  }
  
  .youtube a {
  	background: #E83832;
  }*/ }
  .social-menu li {
    float: left;
    margin-left: 5px; }
    .social-menu li a {
      display: block;
      font-size: 18px;
      background: #177ca3;
      color: #ffffff;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-align: center; }
      .social-menu li a:hover {
        background: #115a76; }
    .social-menu li i {
      color: #ffffff;
      line-height: 30px; }
      .social-menu li i span {
        display: none; }

/** Menu **/
#site-navigation {
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 10px; }
  #site-navigation li {
    display: inline-block;
    margin-left: 10px; }

/*---------------------------------------------------------
 Widgets (_widgets.scss)
-------------------------------------------------------- */

/*# sourceMappingURL=design.css.map */
