# ignore everything in the root 
/*

#####################################################
# Add project folders here to include into GIT
!annasite/
!orbi/
!sodeyst/
!leyka-test/
!rukapomoshi/
!memory/

#####################################################

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
 
# track .htaccess file (i.e. do NOT ignore it)
!.htaccess
 
# track readme.md in the root (i.e. do NOT ignore it)
!readme.md

# ignore trash files
.DS_Store
