# ignore everything in the root 
/*

# list site folders to include into GIT
!annasite/

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
 
# track .htaccess file (i.e. do NOT ignore it)
!.htaccess
 
# track readme.md in the root (i.e. do NOT ignore it)
!readme.md

# ignore trash files
.DS_Store
