DirectoryIndex index.php
#Options -Indexes
<Limit GET POST>
	require valid-user
</Limit>
AuthType Basic
AuthName "ngo2.ru"
AuthUserFile /home/dev/web/ngo2.ru/private/ngo2ru.passwd

# secure htaccess file
<Files .htaccess>
 order allow,deny
 deny from all
</Files>
