/**
 * Default styles for frontend.
 * Site-independent normalisation and helpers 
 */
/* Normalisation
  (based on normalise.css - http://necolas.github.com/normalize.css/)*/
/**
 * HTML5 definitions
 **/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

[hidden] {
  display: none; }

/* always support hidden attr */
/**
 * General corrections
 **/
* {
  margin: 0;
  padding: 0; }

/* normalisation for font size and position on page */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff; }

body {
  font-family: sans-serif; }

body {
  font-family: sans-serif;
  background: #fff;
  color: #494949;
  position: relative; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none; }

/**
 * Semantics
 **/
ins,
mark {
  background-color: #dafee2;
  color: #333;
  text-decoration: none; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  color: #1f1f1f;
  border-bottom: 1px dotted;
  cursor: help; }

b,
cite,
strong {
  font-weight: bold; }

i,
q,
em,
cite,
blockquote {
  font-style: italic; }

pre,
code,
kbd,
samp {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #666; }

q,
blockquote {
  quotes: none;
  color: #666; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 11px; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
blockquote {
  margin: 1.2857em 0 1.2857em 2em; }

blockquote p {
  margin-bottom: 0.75em; }

/**
 * Lists & Tables
 **/
ul,
ol {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
td img {
  vertical-align: top; }

/**
 * Embeded content
 **/
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

/**
 * Vendor spec
 **/
a:link {
  -webkit-tap-highlight-color: #e0edd2;
  -webkit-tap-highlight-color: #dfecd1; }

/*  highloght color for Safari iOS */
::-webkit-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::-moz-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

/**
 * HELPERS
 **/
/* text alignment */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: left; }

/**
 * new technique proposeb by N.Gallagher - see how it's doing
 * http://nicolasgallagher.com/another-css-image-replacement-technique/
 **/
.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

/* Hide for both screenreaders and browsers */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders  */
.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Element to display only for print */
.print-only {
  display: none;
  visibility: hidden; }

/* Clearfix technique */
.clear {
  clear: both; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/**
 * WP default classes
 **/
.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft,
.align-left {
  float: left;
  margin: 0 1.2857em 1.2857em 0; }

.alignright,
.align-right {
  float: right;
  margin: 0 0 1.2857em 1.2857em; }

h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: normal; }

/* top link */
#top-link {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 14px;
  border: 1px solid #cecece;
  background: #eee;
  background: rgba(230, 230, 230, 0.9);
  padding: 4px 15px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  z-index: 900;
  cursor: pointer; }

#top-link a,
#top-link a:visited {
  color: #222222;
  font-size: 11px;
  text-decoration: none;
  border: none !important;
  text-shadow: 1px 1px 1px #F2F2F2; }

#top-link:hover,
#top-link:active,
#top-link:focus {
  background: #d2d2d2;
  background: rgba(200, 200, 200, 0.9);
  border: 1px solid #c5c5c5; }

.no-js #top-link,
.ie6 #top-link {
  display: none !important; }
