

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /orbi/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /orbi/index.php [L]
#Hide Apache version
ServerSignature Off
# Stop wordpress username enumeration vulnerability
RewriteCond %{REQUEST_URI}  ^/$
RewriteCond %{QUERY_STRING} ^/?author=([0-9]*)
RewriteRule ^(.*)$ /? [L,R=301]
</IfModule>
Options All -Indexes

php_value error_reporting 32767

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /orbi/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /orbi/index.php [L]
</IfModule>

# END WordPress
