/* modules */
@import 'font';
@import 'grid';
@import 'presets';
@import 'modules';

	

/**
 * Common elements
 **/
body {
	font: {
		weight: normal;
		size: $bodyTextS;
		family: $bodyFont; }
		
	line-height: 1.35;
	
	background: {
		color: $bodyBgC; }
		
	color: $bodyTextC;
}
	
p {
	margin: {
		top: $pMargin;
		bottom: $pMargin;
	}
	&:first-child {
		margin-top: 0; }
	&:last-child {
		margin-bottom: 0; }
} // p

a {
	color: $bodyLinkC;
	outline: none;
	text-decoration: none;
	&:visited {
		color: $bodyLinkC; 	}
	&:hover {
		color: $bodyLinkHoverC; }
} //a


/*** Default layout: layout switcher ***/
.inner {
	position: relative; }

.style-paged {
	@include bg-decor;
	
	#page {
		width: 1038px;
		margin: 0 auto;
		@include page-decor;
	}

	.inner {
		padding-left: 30px;
		padding-right: 30px; }
	
	.te-st {
		right: 30px; }
}

.padded {
	@extends .style-paged;
	padding: 40px 0;
}

.style-striped {	
	.site-header {
		padding-top: 20px; }
		
	.inner {
		width: 978px;
		margin: 0 auto; }
	
	.site-footer {
		padding-bottom: 10px; }
		
} //stripped
	

/**
 * Header
 **/
.site-header {
	background-color: $pageHeaderBgC;
	
	.inner {
		padding: {
			top: $pMargin;
			bottom: $pMargin;
		}
	}
	
	.site-branding a {
		display: block;
		width: 100%;
		height: 100%; 
	}
		
	.site-title {
		font: {
			size: 3em;
			weight: normal;
			family: $twoFont;
		}
		padding-bottom: 5px;		
		color: $bodyLinkC;
	}
	
	.site-description {
		color: $postMetaC;
		font: {
			size: 1.5em;
			weight: normal;
			style: italic;			
		}
	}
	
	.search-block {
		padding: 15px 0 12px; 
	}
	
	
	
} //site-header

.searchform {
	@include search-form;
}


@import 'menu';

/**
 * Page title
 **/
.page-header {
	color: $pageHeaderTextC;
	background: $pageHeaderBgC;
	margin-bottom: $divMargin;
	border-bottom: {
		width: 1px;
		style: solid;
		color: $pageHeaderBorderC;
	}
	padding: {
		top: 30px;
		bottom: 10px; 	}
	
	.breadcrumbs {
		font-size: $smalestTextS;
		text-align: right;
		padding-top: 15px;
		a {
			color: $pageHeaderLinkC;
			&:hover {
				color: $pageHeaderLinkHoverC;
			}
		}		
	}
	
	.page-title {
		@include page-title; }
}

/**
 * Post
 **/
.hentry {
	margin-bottom: 2em;
	
	.entry-title {
		@include post-title (21px);
	}
	
	.entry-meta {
		@include post-meta(14px);
	}
	
	.entry-header {
		margin-bottom: $pMargin;		
		.category {
			@include post-category;			
		}
	}
}

.full-post {
	@extend .hentry;
	margin-bottom: 0;
	
	.entry-title {
		font-size: 30px;
	}
	
	.entry-preview {
		float: left;
		margin: {
			top: 0;
			right: $pMargin;
			bottom: $pMargin;
			left: 0; }
		width: 220px;
	}
	
	.entry-media {
		@include p-margin;
	}
	
	.entry-summary {
		font-style: italic;
		margin-bottom: $pMargin; }
	
	.entry-content {
		margin-bottom: $divMargin; }
	
	.post-footer {
		color: $postMetaC;
		font-size: $smallerTextS;
		text-transform: uppercase;		
		margin: {
			top: $divMargin;
			bottom: $divMargin / 2;
		}
		a {
			text-transform: none;
		}
	}
}



/**
 * Navs
 **/
.pagination {	
	border-top: 4px solid $navBorderC;
	position: relative;
	padding-top: 8px;
	text-align: right;
	
	.page-numbers {
		display: inline-block;
		padding: 3px 10px;
		border: 1px solid $navBorderC;
		margin-left: 1px;
		text-decoration: none;
		color: $navLinkC;
		&:hover {
			text-decoration: none;
			background: $navLinkC;
			border-color: $navLinkC;
			color: #fff;
		}		
	}
	
	.current,
	.current:hover {
		@extend .page-numbers;
		border-color: #eee;
		background: #f1f1f1;
		color: #333;
	}
}

.nextprev{
	a {
		text-decoration: none !important; 	}
	
	.nav-previous,
	.nav-next {
		font-size: $smallerTextS;
		line-height: 28px;
		display: inline-block;	
		padding: 4px 8px;
		a {
			color: $navLinkC;			
		}
		&:hover {
			text-decoration: none;
			background: $navLinkC;
			border-color: $navLinkC;
			color: #fff;
			a {
				color: #fff;
			}
		}		
	}
	
} //nextprev


.navigation-post {
	border: 1px solid $navBorderC;
	background: $navBgC;
	margin-bottom: 20px;
	
	.share-buttons {
		float: left;
		width: 40%;
		padding: 4px 0 4px 6px; }
	
	.nextprev {
		float: right;
		width: 45%;
		text-align: right; }
}


/**
 * Widgets
 **/

.widget {
	font-size: $smallerTextS;
	margin-bottom: $divMargin * 1.5;
	//default color
	color: $sbTexC;
	a {
		color: $sbLinkC;
		&:hover {
			color: $sbLinkHoverC;
		}
	}
	h3 {
		@include widget-title ($widgetTitleS);
		margin-bottom: 1em;
		color: $sbTitleC;
	}	
	border-color: $sbBorderC;
}

.bottom {
	@extend .widget;
	margin-bottom: 0;
	//apply bottom colors
	color: $footerTextC;
	a {
		color: $footerLinkC;
		&:hover {
			color: $footerLinkHoverC;
		}
	}
	.widget-title {
		color: $footerTitleC;
	}	
	border-color: $footerInnerBorderC;
}


/* side menus */
.widget_gdtt_termslist,
.widget_nav_menu{
	li {
		border-bottom: 1px solid $sbInnerBorderC;
		padding:{
			top: 8px;
			bottom: 2px;
			left: 2px; }
		
		a {
			text-decoration: none;
			&:hover {
				color: $sbLinkHoverC;
			}
		}
	}
		
	.sub-menu {
		padding-top: 4px;
		border-top: 1px solid $sbInnerBorderC;
		
		li {
			padding-top: 4px;
			border-bottom: 1px dotted $sbInnerBorderC;
			&:before {
				content: "> ";
				color: $sbInnerBorderC;
			}
			&:last-child {
				border-bottom: none;
			}
			a {
				margin-left: 4px;
			}
		}
	}
}//widget_nav_

.widget_nav_menu  li[class *="current-menu"] > a {
	font-weight: bold;
}


/* Resent and related */
aside.related-posts {		
	h3 {
		@include widget-title($widgetTitleS);
		margin-bottom: 10px;
	}
	ul {
		background: $bodyBgC;
		border: 1px solid $pageHeaderBorderC;
		padding: 4px 20px 20px 20px;
	}		
	a {
		color: $sbLinkC;
		&:hover {
			color: $sbLinkHoverC;
		}
	}	
	li {
		@include recent-item($bodyTextS, $sbLinkHoverC, $sbLinkC);
	}
}

.widget_related {	
	h3 +p {
		background: $pageHeaderBgC;
		border: 1px solid $pageHeaderBorderC;
		padding: 5px 10px;
	}
	
	li{
		@include recent-item($smallerTextS, $sbLinkHoverC, $sbLinkC);
	}
}

.la-rpw-item {
	@include recent-item($smallerTextS, $sbLinkHoverC, $sbLinkC);
}

.tst-recent-item.has-thumb,
.la-rpw-item.has-thumb {
	@include has-thumb(90px);
}



/* documents */
.frl-batts {
	margin: 30px 0;
	
	.frl-batt {
		margin-bottom: 10px;
	}
	
	.frl-batt.image {
		.batt-preview {
			float: left;
			width: 50%;
		}
		.batt-data {
			margin-left: 53%;
		}
	}
	
	.frl-batt.downlaod {
		border-bottom: 1px solid $bodyBorderC;
		margin: 0;
		padding: 9px 0;
		&:first-child {
			border-top: 1px solid $bodyBorderC;
		}
		.batt-preview {
			float: left;
			width: 44px;			
			.dashicons {
				margin-top: -3px;
				font-size: 30px;
				width: 44px;
				height: 36px;
				color: $bodyLinkC;
				text-align: left;
			}
		}
		
		.batt-data {
			margin-left: 41px;
			p {
				margin: 5px 0;
			}
			h4 {
				font-size: 14px;
				margin-bottom: 10px;
			}
		}		
	}
}





/**
 * Footer
 **/
#bottombar {
	background: $footerBgC;	
	border: {
		width: 1px;
		style: solid;
		color: $footerBorderC;
		left: none;
		right: none; }		
	padding: {
		top: 25px;
		bottom: 30px; }
	margin:  {
		top: 25px;
		bottom: 10px; }
		
	.fb-like-box { //for facebook only
		border: {
			width: 1px;
			style: solid;
			color: $footerInnerBorderC;
		}
		
	}
}//bottombar



#colophon {
	font: {
		size: 11px; }
	color: $postMetaC;	
	a {
		color: $postTitleC;
		&:hover {
			color: $bodyLinkHoverC;
		}
	}
	.inner {		
		padding: {
			top: 10px;
			bottom: 10px;
		}
		min-height: 70px; }
	.copy {
		margin-right: 200px; }	

}//colophon

.te-st {
	text-align: right;
	width: 110px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 10px;
	a {
		display: block; }
}

@import 'home';