/** Calendar page **/


.calendar-content {
	.widget { display: none; }
	
	@include for(desktop) {
		.donate-widget {
			display: block;
		}
	}
	
	.mdl-typography--subhead {
		color: rgba(255,255,255, 0.7);
	}
	
	.mdl-typography--headline {
		color: $tst-color-white;
	}
}

.calendar-footer {
	
	@include for(desktop) {
		.donate-widget {
			display: none;
		}
	}
}



// table
table.calendar {
	width: 100%;
	border-collapse: collapse;
	
	th {
		text-align: right;
		width: 14.2857%;
		border: none;
	}
	td {
		border: 1px solid $tst-color-border;
		text-align: right;		
		width: 14.2857%;
		
	}
	
	.calendar-cell {
		padding: 4px;
	}
}

.day-link {
	display: block;
	padding: 6px;
	border-radius: 4px;
	font-size: 10px;
	font-weight: 400;
	text-decoration: none;
	text-align: left;
	background: unquote("rgba(#{$color-accent}, 1)");
	color: $tst-color-white;
	line-height: 1.3;
	@include transition(all 0.35s);
	
	&:hover {
		@include focus-shadow();
	}
}