/** Home **/

.page-template-page-home {

	.mdl-cell .mdl-card  {
		height: auto;	
	}
	
	.no-spacing-correct-left {
		
	}
	
	.no-spacing-correct-right {
		
	}
}

.home-blog-section-header {
	margin: 40px 0 $grid-desktop-gutter;
	position: relative;
	
	h3 {
		@include typo-headline();
		font-weight: 100;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.all-stories {
		display: inline-block;
		font-weight: 400;
		
		@include for(tablet) {
			position: absolute;
			right: 0;
			top: 12px;
		}
	}
	
	
}

.home-featured-event {
	
	.mdl-typography--caption {
		color: $tst-color-primary;
	}
	
	.mdl-card__supporting-text {
		
	}
	
	.mdl-card__actions {
		text-align: right;
	}
}


.blog-list .tpl-related-post {
	padding: $margin-base 0;
	
	.entry-title {
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 4px 0;
	}
	
	.author-name {
		margin: 0 0 4px 0;
	}
	
	.post-date time {
		font-size: 14px;
		color: rgba(0,0,0,0.54) !important;
	}
}


//partners
.home-partners-block {
	background: #333;
	min-height: 100px;
}