/** Post cards **/

// Pictured item
.pictured-card-item {
	@include clearfix;
	
	.pci-img {
		display: block;
		width: 72px;
		float: left;
		border-radius: 50%;
		
		img {
			width: 40px;
			height: auto;
			border-radius: 50%;
		}
	}
	
	.pci-content {
		margin-left: 72px;
		
		.mdl-typography--body-1 {			
			line-height: 1.714;
			color: $tst-color-text;
			margin: 0;			
		}
		
		.mdl-typography--caption {			
			line-height: 1.333;
			color: $tst-color-text-semi;
			margin: 0;
		}
	}
}