/*---------------------------------------------------------
 Posts (_posts.scss)
-------------------------------------------------------- */

$margin-base: 16px !default;

// Single post
.tpl-post-full {
	padding-top: 28px + 16px;
	margin-bottom: 32px - 28px;
	
	.entry-meta {
		border-bottom: 1px solid $color-border-normal;
		padding-bottom: $margin-base;
		margin-bottom: $margin-base*1.5;
	}
	
	.entry-summary {
		font-size: 1.14285em;
		margin-bottom: $margin-base;
	}
	
	.sharing-on-top,
	.sharing-on-bottom {
		margin: $margin-base*1.5 0;
	}
		
	.author-link {
		@include text-button-text;
	}
	
	.entry-meta-bottom {
		border-top: 1px solid $color-border-normal;
		border-bottom: 1px solid $color-border-normal;
		padding: $margin-base 0;
		.sm-4 {
			@include for(small-screens) {
				text-align: right;
			}
		}
	}
	
	@include wp-caption;
	
	@include for(large-screens) {
		.wp-caption {
			position: relative;
		}
		.wp-caption-text {
			position: absolute;
			top: 0;
			left: -1*(168px + $gut);
			width: 168px;
			text-align: right;
			
		}
	}
}

// Related block
