/**
 * Widgets
 **/


.sidebar-wide {
	font-size: 0.9em;
	
	.widget-title {
		font-weight: 200;
		text-transform: uppercase;
	}
	
	.widget {
		margin-bottom: 60px;
	}
}

.widget_nav_menu {
	li {
		margin-bottom: 5px;
		font-size: 1.2em;
		padding-bottom: 2px;
		border-bottom: 1px solid #dfdfdf;
	}
}