/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
	font-size: 62.5%; //10px
	background-color: $color-white;
}
body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;
	@include rem('font-size', 16px);
	line-height: 1.5;
	color: $color-text;
	font-family: $sans;	
}


a {
	color: $color-link-one;	
	text-decoration: none; //reset
	&:visited {
		color: $color-link-one; }
	&:hover {
		color: darken($color-link-one, 15%); }
}

p {
	@include rem('margin-bottom', $base);
	@include rem('margin-top', $base);
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

p,ul,ol,dl,blockquote {
	@extend .break;
}


/* structure */

#page {
	padding: 0 $base*1.5 $base*1.5;
}
.container {
	width: 85%;
	max-width: 978px;
	margin: 0 auto;
}

.site-header {
	padding: 10px;
	border-bottom: 1px solid $color-border-normal;
	
	
}

.site-footer {
	padding: 10px;
	border-top: 1px solid $color-border-normal;
	@include rem('font-size', 12px);
}

.tpl-post {
	margin: $base*1.5 0;
	max-width: 700px;
	
	.entry-header {
		margin-bottom: $base*0.75;		
	}
	
	.entry-title {
		font-size: 1.3em;
		line-height: 1.05;
		color: $color-text-black;
		a {
			font-weight: bold;	
		}			
	}
}

.tpl-post-full,
.tpl-page {
	padding: $base*1.5 0;
	max-width: 700px;
	
	.entry-header {
		margin-bottom: $base;
	}
	
	.entry-title {		
		font-size: 2em;
		line-height: 1.05;
		font-weight: bold;
		color: $color-text-black;
	}
}

.crumbs {
	@include rem('font-size', 14px);
	color: $color-text-light;
}

.entry-meta {
	margin-top: 5px;
	font-size: 13px;
	color: $color-text-light;
	.sep {
		margin: 0 5px;
	}
	.category {
		text-transform: uppercase;
	}
}

.navigation {
	margin: $base 0;	
}

.nav-links {
	.nav-previous,
	.nav-next {
		display: inline-block;
		margin-right: 10px;
	}
}



#ui-datepicker-div {
	font-size: 12px;
}