/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
	font-size: 62.5%; //10px
	background-color: $color-white;
}
body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;
	@include rem('font-size', 16px);
	line-height: 1.5;
	color: $color-text;
	font-family: $sans;	
}


a {
	color: $color-link-one;	
	text-decoration: none; //reset
	&:visited { color: $color-link-one; }
	&:hover, &:focus, &:active {
		color: $color-link-two; 		
	}
}

p {
	@include rem('margin-bottom', $base);
	@include rem('margin-top', $base);
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

p,ul,ol,dl,blockquote {
	@extend .break;
}


/* structure */
.container {
	width: 85%;
	max-width: 978px;
	margin: 0 auto;
}

.site-header {	
	border-bottom: 2px solid $color-link-two;
	background: #F1F8FE url(../img/h-bg.jpg) no-repeat center top;
	background-size: cover;
	@include rem('padding', $base*1.2 0);
	
	.site-branding {
		text-align: center;
				
		.logo-wrap {
			display: inline-block;
			max-width: 170px;
		}
		
		@include for(medium-screens) {
			text-align: left;
		}
	}
}

#bottombar {
	@include rem('margin-top', 50px);
	@include rem('padding', $base*1.3 0);
	@include rem('font-size', 12px);
	background: $color-secondary;
	border-top: 4px solid $color-link-two;
	border-bottom: 1px solid $color-border-light;	
}

.site-footer {
	@include rem('padding', $base*0.8 $base $base*1.2);
	@include rem('font-size', 11px);
	line-height: 1.35;
	color: $color-text-semi;	
	
	.copy {
		padding-top: 4px;
		a {
			color: $color-text-black;
			text-decoration: underline;		
			&:hover, &:focus, &:active {
				color: $color-link-one;
			}
		}
	}
	
	.te-st-bn {
		text-align: right;
		position: relative;
		height: 51px;
		
		a {
			display: block;
			width: 106px;
			position: absolute;
			top: 0;
			right: 0;
			border: 1px dotted transparent;
			padding: 1px;
			&:hover, &:focus, &:active {
				border-color: $color-text-semi;
			}
		}
		
		span {
			display: inline-block;
			margin-right: 115px;
			padding-top: 10px;
		}
	}
}


/* sections */
.section-header {
	position: relative;
	text-align: center;	
	@include rem('margin-bottom', $base);
	min-height: 44px;
	
	.header-block {
		background: $color-link-two;
		color: $color-white;
		display: inline-block;
		max-width: 100%;
		@include rem('padding', 12px 40px);
		
		@include for(medium-screens) {
			position: absolute;
			top: -58px;
			right: 0;
			z-index: 500;
		}
	}
	
	h1 {
		@include section-title(42px);
	}
}

.header-block {
	min-width: 222px;
}

.single .section-header {
		
	.category {
		@include rem('font-size', 15px);
		color: #EC4857;
		@include rem('margin-bottom', 5px);
		text-transform: uppercase;
	}
	
	time {
		display: block;
		@include section-title(32px);		
	}
	
	@include for(medium-screens) {
		.header-block {
			text-align: right;			
		}
	}
}


//error 404
.error-404 {
	min-height: 400px;
	
	.page-header {
		margin-bottom: 2em;
		h1 {
			@include rem('font-size', 24px);
			font-weight: bold;
		}
	}
	
	
}


/* Homepage */
.home-sidebar.full-w {
	display: none;
	@include for(medium-screens){
		display: block;
		@include rem('margin-top', 90px);		
	}
	
	
}

.home-sidebar.full-small {
	display: block;
	@include for(medium-screens){
		display: none;
	}
}

.page-template-page-home {
	
	.site-header {
		background-image: url(../img/l-bg.jpg);	
	}
	
	.site-nav {
		@include rem('margin-bottom', $base*1.8);
	}
	
	.tpl-programm {
		.entry-header {
			margin-bottom: 0;
		}
		
		.thumbnail-link {
			border: 2px solid $color-link-two;
		}
	}
	
	.tpl-post {
		margin-bottom: 0;	
	}
	
	.cta-block {
		background: $color-link-two;
		@include rem('padding', $base*1.2 $base*1.2 $base*1.7 $base*1.2);
		@include rem('margin-bottom', $base*3);
		color: $color-white;		
		position: relative;
		
		h1 {
			@include section-title(36px);
		}
		
		.cta-btn {
			position: absolute;
			left: 25px;
			bottom: -25px;
			z-index: 500;
			font-size: 0.9em;
			
			a {
				display: inline-block;
				background: $color-link-one;
				text-transform: uppercase;
				font-weight: bold;
				color: $color-white;
				padding: 0.6em 1.2em;
				@include transition(all 0.35s);
				
				&:hover, &:focus, &:active {
					background: darken($color-link-one, 10%);		
				}
			}
		}
		
		@include for(medium-screens){
			@include rem('margin-bottom', $base*1.5);
		}
	}
	
	.widget_featured_content {
		@include rem('margin-bottom', $base);
		p {
			color: $color-text-black;
		}
	}
	
	.post-frame {
		height: 100%;
	}
	
	@include for(large-screens){
		.site-header {
			padding-bottom: 0;
		}
		
		.cta-block {
			@include rem('margin-bottom', -1.5*$base);
		}
		
		.site-content {
			@include rem('padding-top', $base);
		}
	}
}

.home-section {
	@include rem('margin-top', $base*2.5);
	
	.page-section-title {
		@include widget-title(18px) ;
		@include rem('margin-bottom', $base);
		
		a {
			display: inline-block;
			font-weight: bold;
			font-size: 0.66em;
			border: 1px solid $color-link-one;
			padding: 0 0.8em;
			line-height: 1.5;
			margin-left: 5px;
			@inlcude transition(all 0.35s);
			
			&:hover, &:focus, &:active {
				background: $color-link-one;
				color: $color-white;
			}
		}
	}
	
	
}

.home-section.partners .page-section-title {
	margin-bottom: 0;
}

.partners-gallery {
	.logo-frame {
		@include logo-frame;
	}
	
	.logo {
		@include rem('margin-top', $base);
	}
}