/*---------------------------------------------------------
 Menu main (_menu.scss)
-------------------------------------------------------- */

.social-menu-position {
	@include clearfix;
}
.social-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	
	
	li {
		float: left;
		margin-left: 5px;
		a {
			display: block;
			font-size: 18px;
			background: $color-link-one;
			color: $color-white;
			width: 30px;
			height: 30px;
			//@include border-radius(4px);
			text-align: center;
			&:hover {
				background: darken($color-link-one, 10%);
			}
		}
		
		i {
			color: $color-white;
			line-height: 30px;
			span {
				display: none;
			}
		}
	}
	
	/*.vk a {
		background: #3C6792;
	}
	
	.facebook a {
		background: #3D549A;
	}
	
	.linkedin a {
		background: #0393C9;
	}
	
	.twitter a {
		background: #01ADED;
	}
	
	.rss a {
		background: #FAA602;
	}
	
	.odnoklassniki a {
		background: #EB9130;
	}
	
	.youtube a {
		background: #E83832;
	}*/
}


/** Menu **/
.site-nav {
	text-align: center;
	
	.menu-toggle {
		background: $color-link-two;
		border-color: $color-link-two;
		color:$color-white;
		padding: 0.65em 2em;
		text-transform: uppercase;
		@include transition(all 0.35s);
		
		&:hover, &:focus, &:active {
			background: $color-link-one;
			border-color: $color-link-one;
		}
		
		@include for(medium-screens) {
			display: none;
		}
	}
	
	.site-navigation-area {
		@include rem('padding-top', $base/2);
		display: none;		
	}
	
	li {
			
		a {
			display: block;
			padding: 0.3em 1em;
			@include rem('font-size', 14px);
			text-transform: uppercase;
			color: $color-link-two;
			@include transition(all 0.35s);
			
			&:hover, &:focus, &:active {
				color: $color-link-one;		
			}
			
			@include for(medium-screens) {
				padding: 0.2em 0.4em;
				@include rem('font-size', 13px);
			}
			
			@media screen and (min-width: 900px) {
				padding: 0.2em 0.6em;
				@include rem('font-size', 14px);
			}
			
			@include for(large-screens) {
				padding: 0.2em 1.1em;
			}
		}
	}
	
	.sub-menu {
		
		a {
			text-transform: none;
			color: $color-link-one;
			&:hover, &:focus, &:active {
				color: $color-link-two;
			}
		}
	}
	
	.search-trigger {
		display: none;
	}
	
	.search-holder {
		max-width: 280px;
		margin: 0 auto;
	}
	
	@include for(medium-screens) {
		.site-navigation-area {
			display: block;
			@include clearfix;
			position: relative;
			padding-top: 0;
			padding-right: 34px;
		}
		
		.main-menu {
			float: right; 
		}
		
		li {
			float: left;
			position: relative;
		}
		
		#search-toggle {
			position: absolute;
			top: 0;
			right: 0;
		}
		
		.search-trigger {
			display: block;
			width: 29px;
			height: 29px;
			padding-top: 2px;
			color: $color-link-two;
			cursor: pointer;
			
			&:hover, &:focus, &:active {
				color: $color-link-one;		
			}
		}
		
		.search-holder {
			width: 290px;
			position: absolute;
			top: 30px;
			right: 0;
			background: rgba(255,255,255, 0.75);
			border: 2px solid $color-white;
			display: none;
		}
		
		.toggled .search-holder {
			display: block;
			z-index: 1000;
		}
		
		.sub-menu {
			display: none;
			position: absolute;
			left: 0;
			z-index: 500;
			min-width: 100%;
			background: rgba(255,255,255, 0.95);
			border: 1px solid $color-link-one;
			border-top-width: 4px;
			
			li {
				float: none;
				text-align: left;
			}
			
			a {
				white-space: nowrap;
				padding: 0.25em 1em;
				&:hover, &:focus, &:active {
					color: $color-white;
					background: $color-link-one;
				}
			}
		}
		
		li:hover .sub-menu {
			display: block;
		}
	} //medium screen
}

.site-nav.toggled .site-navigation-area {
	display: block;
}



