/*---------------------------------------------------------
 Widgets (_widgets.scss)
-------------------------------------------------------- */
//sidebar
.sidebar-wide {
	@include rem('padding-top', 45px);
}

.widget {
	@include rem('margin-bottom', $base*1.8);
	
	.widget-title {
		@include widget-title(18px);
		margin-bottom: 1em;
	}
	
	.textwidget {
		@include rem('font-size', 13px);
		color: $color-text-semi;
		line-height: 1.4;
	}
	
	&.widget_nav_menu {
		li {
			@include rem('margin-bottom', 3px);
		}
		
		a {
			color: $color-link-two;
			font-weight: bold;
			
			&:hover, &:focus, &:active {
				color: $color-link-one;				
			}
		}
	}
	
	&.widget_featured_content {
		
		.entry-title {
			font-weight: bold;
			line-height: 1.3;
			@include rem('margin-bottom', 5px);
			a {
				color: $color-link-two;
				font-weight: bold;
				
				&:hover, &:focus, &:active {
					color: $color-link-one;				
				}
			}
		}
		
		.entry-meta {
			background: $color-link-two;
			color: $color-white;
			display: inline-block;
			@include rem('font-size', 13px);
			padding: 0.1em 0.5em;
			
		}
		
		.entry-summary {
			@include rem('margin-top', $base);
			@include rem('font-size', 13px);
			color: $color-text-semi;
			line-height: 1.4;
		}
	}
	
	
} //.widget




// bottom
.widget-bottom {
	
	@include rem('margin-bottom', $base);
	&:last-child {
		margin-bottom: 0;
	}
	
	.widget-title {
		@include rem('font-size', 14px);
		text-transform: uppercase;
		color: $color-link-two;
		font-weight: bold;
		margin-bottom: 1em;
	}
	
	.textwidget a {
		text-decoration: underline;
	}
	
}

@include for(medium-screens) {
	.fb-page {
		@include clearfix;
		
		.widget-title {
			width: 281px;			
			float: right;
		}
		
		.textwidget {
			width: 281px;
			clear: rigth;
			float: right;
		}
	}
}

.fb_iframe_widget {
	max-width: 100%;
	overflow: hidden;
}