*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

/* commons */
[class*='bit-'] {
	float: left;
	padding: 0 15px; }

.frame {
	margin: 0 -15px; }
	
.frame:after {
	content: "";
	display: table;
	clear: both; }

/* base column - 1/12 */
.bit-1 { width:8.3333333333%; }

/* combinations of 1/12 columns */
.bit-2  { width: 16.666666%; } /* means 2/12 */
.bit-3  { width: 25%; }        /* means 3/12 */
.bit-4  { width: 33.333333%; } /* means 4/12 */
.bit-5  { width: 41.666666%; } /* means 5/12 */
.bit-6  { width: 50%; }        /* means 6/12 */
.bit-7  { width: 58.333333%; } /* means 7/12 */
.bit-8  { width: 66.666666%; } /* means 8/12 */
.bit-9  { width: 75%; }        /* means 9/12 */
.bit-10 { width: 83.333333%; } /* means 10/12 */
.bit-11 { width: 91.666666%; } /* means 11/12 */
.bit-12 { width: 100%; } /* means 11/12 */