# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
 
# track .htaccess file (i.e. do NOT ignore it)
!.htaccess
 
# track readme.md in the root (i.e. do NOT ignore it)
!readme.md

# include database files
!*.sql

# ignore everything in the "wp-content" directory, except:
# "plugins" directory
# "themes" directory
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/uploads/
 
# ignore these plugins
wp-content/plugins/hello.php
 
# ignore specific themes
wp-content/themes/twenty*/

# ignore "silence is golden" files
wp-content/plugins/index.php
wp-content/themes/index.php

# ignore trash files 
.DS_Store
