/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
	font-size: 62.5%; //10px
	background-color: $color-white;
}
body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;
	@include rem('font-size', 14px);
	line-height: 1.5;
	color: $color-text;
	font-family: $sans;	
}


a {
	color: $color-link-one-dark;	
	text-decoration: none; 
	&:visited { color: $color-link-one; }
	&:hover, &:focus, &:active { color: $color-link-three; }		
}

p {
	@include rem('margin-bottom', $base);
	@include rem('margin-top', $base);
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}

p,ul,ol,dl,blockquote {
	@extend .break;
}


/* structure */
#page {
	width: 85%;
	max-width: 978px;
	margin: 0 auto;
}

.body-top {
	width: 100%;
	height: 8px;
	background: $color-link-two;
}

.site-header {
		
	.site-logo {
		background: transparent url(../img/sign.png) no-repeat left center;
		background-size: auto 100%;
		padding: 6% 0 6% 22%;
	}
	
	.bit { margin: 0; }
	.widget { display: none; }
	
	.textwidget {
		position: relative;
		border: 1px solid  $color-border-normal;
		padding: 1em;
		@include rem('font-size', 12px);
		text-align: right;
		
		p { margin: 0; }
		
		.icon {
			width: 40px;
			height: 40px;
			text-align: center;
			border-radius: 50%;
			background: $color-border-normal;
			color: $color-white;
			z-index: 10;
			position: absolute;
			left: -20px;
			top: -20px;
			
			i {
				font-size: 21px;
				line-height: 38px;
			}
		}
	}
	
	@include for(medium-screens) {
		@include rem('padding-bottom', 15px);
		
		.widget {
			display: block;
			@include rem('padding-top', 24px);
		}
	}
	
	@include for(large-screens) {
		.widget {			
			@include rem('padding-top', 28px);
		}
		.textwidget .icon {
			left: 5px;
		}
	}
}

.section-header {
	background-color: $color-link-two;
	background-image: url(../img/sun-t.png);
	background-image: url(../img/sun-t.svg);
	background-repeat: no-repeat;
	background-position: right top;
	padding: 0.4em 1em;
	color: $color-white;
	@include rem('margin-bottom', $base*1.5);
	
	.section-title {
		color: $color-white;
		@include rem('font-size', 30px);
		text-transform: uppercase;
	}
}

.sidebar-wide {
	margin-left: $col/2;
	@include rem('font-size', 12px);
}

#bottombar {
	position: relative;
	background-color: $color-link-one;
	
	.last-col {
		min-height: 193px;
		background-image: url(../img/sun-l.png);
		background-image: url(../img/sun-l.svg);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: contain;
	}
	
	color: $color-text-black;
	@include rem('font-size', 12px);
	@include rem('padding', $base);
	@include rem('margin-top', $base*2.5);
	
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 6px;
		background: $color-border-light;
		position: absolute;
		top: -10px;
		left: 0;
	}
	
	a {		
		border-bottom: 1px dotted;
		color: $color-text-black;	
		
		&:hover, &:focus, &:active {
			color: $color-white;
			border-bottom: 1px solid;
		}
	}
	
	.button {
		@include ghost-button($color-text-black, 12px);
		padding: 0.4em 1.4em;	
	}
}

.site-footer {
	@include rem('padding', $base*0.8 0 $base*1.2);
	@include rem('font-size', 11px);
	line-height: 1.35;
	color: $color-text-semi;	
	
	.copy a {
		color: $color-text-black;
		text-decoration: underline;		
		&:hover, &:focus, &:active {
			color: $color-link-two;
		}
	}
	
	.te-st-bn {
		text-align: right;
		position: relative;
		height: 51px;
		
		a {
			display: block;
			width: 106px;
			position: absolute;
			top: 0;
			right: 0;
			border: 1px dotted transparent;
			padding: 1px;
			&:hover, &:focus, &:active {
				border-color: $color-text-semi;
			}
		}
		
		span {
			display: inline-block;
			margin-right: 115px;
			padding-top: 10px;
		}
	}
}