/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
	font-size: 62.5%; //10px
	background-color: $color-white;
}
body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;
	@include rem('font-size', 14px);
	line-height: 1.5;
	color: $color-text;
	font-family: $sans;	
}


a {
	color: $color-link-one;	
	text-decoration: none; 
	&:visited { color: $color-link-one; }
	&:hover, &:focus, &:active { color: darken($color-link-one, 15%); }		
}

p {
	@include rem('margin-bottom', $base);
	@include rem('margin-top', $base);
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}

p,ul,ol,dl,blockquote {
	@extend .break;
}


/* structure */
#page {
	width: 85%;
	max-width: 978px;
	margin: 0 auto;
}

.body-top {
	width: 100%;
	height: 8px;
	background: $color-link-two;
}
