/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
	font-size: 62.5%; //10px
	background-color: $color-white;
}
body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;
	@include rem('font-size', 14px);
	line-height: 1.5;
	color: $color-text;
	font-family: $sans;	
}


a {
	color: $color-link-one;	
	text-decoration: none; 
	&:visited { color: $color-link-one; }
	&:hover, &:focus, &:active { color: darken($color-link-one, 15%); }		
}

p {
	@include rem('margin-bottom', $base);
	@include rem('margin-top', $base);
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}

p,ul,ol,dl,blockquote {
	@extend .break;
}


/* structure */
#page {
	width: 85%;
	max-width: 978px;
	margin: 0 auto;
}

.body-top {
	width: 100%;
	height: 8px;
	background: $color-link-two;
}

.site-header {
		
	.site-logo {
		background: transparent url(../img/sign.png) no-repeat left center;
		background-size: auto 100%;
		padding: 6% 0 6% 22%;
	}
	
	.bit { margin: 0; }
	.widget { display: none; }
	
	.textwidget {
		position: relative;
		border: 1px solid  $color-border-normal;
		padding: 1em;
		@include rem('font-size', 13px);
		text-align: right;
		
		p { margin: 0; }
		
		.icon {
			width: 45px;
			height: 45px;
			text-align: center;
			border-radius: 50%;
			background: $color-border-normal;
			color: $color-white;
			z-index: 10;
			position: absolute;
			left: 10px;
			top: -25px;
			
			i {
				font-size: 24px;
				line-height: 43px;
			}
		}
	}
}

.section-header {
	background: $color-link-two;
	padding: 0.3em 1em;
	color: $color-white;
	@include rem('margin-bottom', $base*1.5);
	
	.section-title {
		color: $color-white;
		@include rem('font-size', 30px);
		text-transform: uppercase;
	}
}