/* home */

.home-section.intro {
	padding-top: 4px;
	
	//slider
	.flex-direction-nav a {
		opacity: 1;
		text-indent: 0;
		left: -16px;
		color: rgba(0,0,0, 0);
		background: transparent;
		
		&:after {
			content:"\f053";
			display:block;
			font: normal 38px/1 FontAwesome;
			color: rgba(246,162,53, 0.85);
			@include transition(all 0.35s);
			
			webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
			position: absolute;
		}		
	}
	
	.flex-direction-nav a:hover {
		&:after {
			color: rgba(246,162,53, 1);
			text-shadow: 1px 1px 1px rgba(0,0,0, 0.65);
		}
	}
	
	.flex-direction-nav .flex-next {
		left: auto;
		right: -16px;
		&:after {
			content:"\f054";
		}
		
	}
	
	.metaslider .caption-wrap {
		display: none;
		@include for(medium-screens) {
			display: block;
			opacity: 1;
			background: rgba(0,0,0, 0.5);
			color: $color-white;
			font-family: $heading;
			font-size: 1.5em;
			line-height: 1.15;
			@include rem('padding', $base/2);
			width: 65%;
			bottom: 10px;
			left: 10px;
			
			.caption {
				
			}
		}
	}
	
	//text
	.intro-text {
		margin: $base*1.5 auto;
		width: 90%;
		max-width: 665px;
		font-size: 1.5em;
		line-height: 1.285;
		text-align: center;
	}
}


//blocks
.home-blocks {
	background: $color-secondary;
	border-top: 1px solid $color-border-light;
	border-bottom: 1px solid $color-border-light;
	@include rem('padding', $gut 0);
	@include rem('margin', $base*2 0);
	
	.block-link {
		display: block;
		position: relative;
		@include rem('margin-bottom', $base/2);
		
		span {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(173,212,117, 0.25);
			background-repeat: no-repeat;
			@include transition(all 0.35s);
		}
		
		&:hover span {
			background-color: rgba(173,212,117, 0.5);
		}
	}
	
	.block:nth-of-type(1) .block-link span{
		background-image: url(../img/sun-b1.png);
		background-position: right bottom;
	}
	.block:nth-of-type(2) .block-link span{
		background-image: url(../img/sun-b2.png);
		background-position: right top;
	}
	.block:nth-of-type(3) .block-link span{
		background-image: url(../img/sun-b3.png);
		background-position: right top;
	}
	
	h4 {
		font: normal 24px/1.15 $heading;
		@include rem('font-size', 24px);
		a {
			color: $color-link-two-dark;
			&:hover, &:focus, &:active {
				color: $color-link-three;		
			}
		}
		
		margin-bottom: 0.5em;
		@include for(medium-screens) {
			padding-left: 4px;
		}
	}
	
	p {
		font-style: italic;
		line-height: 1.3;
		color: $color-text-semi;
		margin: 0;
		@include for(medium-screens) {
			padding-left: 4px;
		}
	}
}

//blog
.home-section.content {
	.section-title {
		@include widget-title(14px);
		a {
			margin-left: 5px;
			font-weight: bold;
			color: $color-link-two-dark;
			&:hover, &:focus, &:active {
				color: $color-link-three;
			}
		}
	}
	
	.sm-7 .h-item:first-child {
		@include rem('margin-bottom', $base);
	}
	
	.md-4 { display: none; }
	
	@include for(medium-screens) {
		.md-4 { display: block; }
		.widgets-wrap .textwidget {
			border-left: 2px solid $color-link-two;
			@include rem('padding-left', $gut - 2);
		}
	}
	
}

.h-item {
	
	.thumbnail-link {
		@include rem('margin-bottom', $base*0.5);
	}
	
	.h-item-title {
		@include post-title(21px);
		@include rem('margin-bottom', 5px);
	}
	
	.h-item-meta {
		@include rem('font-size', 11px);
		color: $color-text-light;
		@include rem('margin-bottom', $base*0.5);
		
		time {
			color: $color-text-black;
		}
		
		.sep {
			display: inline-block;
			padding: 0 5px;
		}
		
		a {
			text-transform: uppercase;
			color: $color-link-two-dark;
			&:hover, &:focus, &:active {
				color: $color-link-three;
			}
		}
	}
	
	p {
		@include rem('font-size', 12px);
	}
}