/*---------------------------------------------------------
 Menu main (_menu.scss)
-------------------------------------------------------- */

.social-menu-position {
	@include clearfix;
}

.social-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	
	
	li {
		float: left;
		margin-left: 5px;
		a {
			display: block;
			font-size: 18px;
			background: $color-link-two;
			color: $color-white;
			width: 34px;
			height: 30px;			
			text-align: center;
			@include transition(all 0.35s);
			
			&:hover, &:focus,  &:active  {
				background: $color-link-three;
			}
		}
		
		i {
			color: $color-white;
			line-height: 30px;
			span {
				display: none;
			}
		}
	}
	
	/*.vk a {
		background: #3C6792;
	}
	
	.facebook a {
		background: #3D549A;
	}
	
	.linkedin a {
		background: #0393C9;
	}
	
	.twitter a {
		background: #01ADED;
	}
	
	.rss a {
		background: #FAA602;
	}
	
	.odnoklassniki a {
		background: #EB9130;
	}
	
	.youtube a {
		background: #E83832;
	}*/
}


// top nav
.top-nav {
	@include clearfix;
	position: relative;
	position: relative;
	top: -2px;
	z-index: 10;
	
	.nav-panel,
	#search-toggle,
	ul {
		float: right;		
	}
		
}

#search-toggle {
	position: relative;
	
	.search-trigger {
		font-size: 18px;
		background: $color-link-two;
		color: $color-white;
		width: 34px;
		height: 30px;			
		text-align: center;
		cursor: pointer;
		@include transition(all 0.35s);
			
		&:hover, &:focus,  &:active  {
			background: $color-link-three;
		}
	}
	
	.search-holder {
		display: none;
		border: 1px solid $color-white;
		background: $color-white;
		width: 250px;
		position: absolute;
		top: -1px;
		right: 39px;
		z-index: 10;
	}
}

#search-toggle.toggled .search-holder { display: block; }


//menu
.site-nav {
	text-align: right;
	
	.menu-toggle {
		@include rem('margin-bottom', $base/2);
		background: $color-link-one;
		color: $color-white;
		padding: 0.75em 1.5em;
		border: none;
		width: 112px;
		&:hover, &:focus, &:active {
			background: $color-link-three;	
		}
	}
	
	.site-navigation-area {
		display: none;
		text-align: left;
	}
	
	.main-menu {
		border: 1px solid $color-link-two;
		border-bottom-width: 4px;
		@include rem('padding', 14px);
	}
	
	li {
		
		a {
			text-transform: uppercase;
			color: $color-text-black;
		}
	}
	
	.sub-menu {
		@include rem('padding', 8px);
		
		a {
			text-transform:  none;
			color: $color-link-two;
		}
	}
}

.site-nav.toggled .site-navigation-area { display: block; }