/*---------------------------------------------------------
 Menu main (_menu.scss)
-------------------------------------------------------- */

.social-menu-position {
	@include clearfix;
}

.social-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	
	
	li {
		float: left;
		margin-left: 5px;
		a {
			display: block;
			font-size: 18px;
			background: $color-link-two;
			color: $color-white;
			width: 34px;
			height: 30px;			
			text-align: center;
			@include transition(all 0.35s);
			
			&:hover, &:focus,  &:active  {
				background: $color-link-three;
			}
		}
		
		i {
			color: $color-white;
			line-height: 30px;
			span {
				display: none;
			}
		}
	}
	
	/*.vk a {
		background: #3C6792;
	}
	
	.facebook a {
		background: #3D549A;
	}
	
	.linkedin a {
		background: #0393C9;
	}
	
	.twitter a {
		background: #01ADED;
	}
	
	.rss a {
		background: #FAA602;
	}
	
	.odnoklassniki a {
		background: #EB9130;
	}
	
	.youtube a {
		background: #E83832;
	}*/
}


// top nav
.top-nav {
	@include clearfix;
	position: relative;
	position: relative;
	top: -2px;
	z-index: 10;
	
	.nav-panel,
	#search-toggle,
	ul {
		float: right;		
	}
		
}

#search-toggle {
	position: relative;
	
	.search-trigger {
		font-size: 18px;
		background: $color-link-two;
		color: $color-white;
		width: 34px;
		height: 30px;			
		text-align: center;
		cursor: pointer;
		@include transition(all 0.35s);
			
		&:hover, &:focus,  &:active  {
			background: $color-link-three;
		}
	}
	
	.search-holder {
		//display: none;
		border: 1px solid $color-white;
		background: $color-white;
		width: 250px;
		position: absolute;
		top: -1px;
		right: 39px;
		z-index: 10;
	}
}

#search-toggle.toggled .search-holder { display: block; }


//menu
.site-nav {
	text-align: right;
	
	.menu-toggle {
		@include rem('margin-bottom', $base/2);
		background: $color-link-one;
		color: $color-white;
		padding: 0.75em 1.5em;
		border: none;
		width: 112px;
		&:hover, &:focus, &:active {
			background: $color-link-three;	
		}
	}
	
	.site-navigation-area {
		display: none;
		text-align: left;
	}
	
	.main-menu {
		border: 1px solid $color-link-two;
		border-bottom-width: 4px;
		@include rem('padding', 14px);
	}
	
	li {
		
		a {
			text-transform: uppercase;
			color: $color-text-black;
			&:hover, &:focus, &:active {
				background: transparentize($color-link-two, 0.9);	
			}
		}
	}
	
	.sub-menu {
		@include rem('padding', 8px);
		
		a {
			text-transform:  none;
			color: $color-link-two-dark;
			&:hover, &:focus, &:active {				
				color: $color-link-three;		
			}
		}
	}
	
	@include for(medium-screens) {
		.menu-toggle { display:  none; }
		
		.site-navigation-area {
			display: block;
			
		}
		
		.main-menu {
			@include clearfix;
			padding: 0;
			border: none;
			border-top: 4px solid $color-link-two;
		}
		
		li {
			float: left;			
			position: relative;			
			
			& > a {
				display: inline-block;
				padding: 0.55em 1em;
			}
		}
		
		.sub-menu {
			display: none;
			position: absolute;
			background: $color-white;
			z-index: 100;
			border: 1px solid $color-link-two;
			border-bottom-width: 4px;
			min-width: 100%;
			@include transition(all 0.35s);
			
			li {
				float: none;				
			}
			
			a {
				white-space: nowrap;
				padding: 0.2em 0.4em;
			}
		}
		
		li.menu-item-has-children:hover {
			.sub-menu { display: block; }
		}
		
		.help-button  {
			position: relative;
			a {
				background: $color-link-one;
				color: $color-white;
				@inlcude transition(all 0.35s);
				position: absolute;
				top: -18px;
				left: 20px;
				z-index: 100;
				white-space: nowrap;
				padding: 0.55em 2em;
				font-weight: bold;
				
				&:hover, &:focus, &:active {
					background: $color-link-three;
				}
			}
		}
	}
	
	@include for(large-screens) {
		
		li > a {
			padding: 0.55em 1.4em;
		}
		
		.sub-menu li  a {
			padding: 0.2em 0.4em;
		}
		
		.help-button a {
			padding: 0.55em 2em;
			left: 32px;
		}
	}
}

.site-nav.toggled .site-navigation-area { display: block; }


//side menus
.section-menu {
	
	li {
		@include rem('font-size', 16px);
		line-height: 1.2;
	}
	
	a {
		display: inline-block;
		padding: 0.3em 1em;
	}
	
	li:first-child {
		margin-bottom: 0.3em;
		a {
			width: 100%;
			background: $color-link-one;
			color: $color-white;
			text-transform: uppercase;
			padding: 0.4em 1em;
			@include transition(all 0.35s);
			
			&:hover, &:focus, &:active {
				background: $color-link-three;
			}
		}
	}
}