/*---------------------------------------------------------
 Presets (_presets.scss)
-------------------------------------------------------- */

//Fonts
$sans:        		"Arimo", sans-serif;
$heading:        	"Cuprum", sans-serif;
$mono: 				"Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;

//Break points
$one:				500px;
$two:				800px;
$three:				1000px;

//Grid
$width:				978px;
$col:				54px;
$gut:				30px;

//Baseline
$base: 				24px;


// Color
$color-text:   #333;
$color-white:  #ffffff;
$color-link-one: #F6A235;
$color-link-one-dark: #F2A012;
$color-link-two: #9CCD52;
$color-link-two-dark: #74B018;
$color-link-three: #056937;

$color-secondary:  #f5f5f5;
//$color-secondary-dark:  #e2e2e2;
$color-text-black: #2d2d2d;
$color-text-semi:  #666666;
$color-text-light: #999999;

$color-border-normal: #dfdfdf;
$color-border-light:  #eeeeee;


//Element
$indent: 1.5em;
$rule: 	 1px solid $color-border-normal;
$sidebar-width: 280px;

//Mixins
@mixin post-title($size: 16px) {
	font: {		
		weight: normal;
		family: $heading;
	}
	
	line-height: 1.1;
	@include rem('font-size', $size);
	color: $color-link-one-dark;
	a {
		color: $color-link-one-dark;
		@inlcude transition(all 0.35s);
		
		&:hover, &:focus, &:active {
			color: $color-link-three;
		}
	}	
}

@mixin widget-title($size: 16px) {
	font: {
		family: $sans;		
		weight: bold;
	}
	
	@include rem('font-size', $size);
	color: $color-text-black;	
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

@mixin single-title($size : 40px){
	@include rem('font-size', $size);			
	line-height: 1.05;
	font-weight: bold;
	@include rem('margin-bottom', $size);	
	word-break: break-word;
	-ms-word-break: break-word;
}


/*@mixin lead {
	font: {
		family: $titleFont;
		size: 18px;
	}
	line-height: $tightLH;
	color: $titleDarkC;
	@include smart-margin($pMargin);
}*/

@mixin logo-frame {	
	height: 0;
	padding-bottom: 65%;
	position: relative;
	width: 100%;
	span,
	a {
		display: inline-block;
		height: 100%;
		position: absolute;
		width: 100%;		
		text-align: center;
		img {
			display: inline;
			height: auto;
			max-height: 98%;
			max-width: 100%;
			vertical-align: middle;
			width: auto;
		}
	}	
}


/** button **/
@mixin button($color, $hover, $size : 14px) {
	display: inline-block;
	background: $color;
	color: $color-white;	
	@include rem('font-size', $size);
	font-family: $sans;
	text-transform: uppercase;
	padding: 0.5em 1.2em 0.5em;
	@include transition-all(0.3s);
	
	&:visited {
		background: $color;
		color: $color-white;
	}
	&:hover, &:focus, &:active {	
		background: $hover;
		color: $color-white;	
	}
	
}

@mixin fixed-button($color, $hover, $size : 14px) {
	@include button($color, $hover, $size);
	@include border-radius(0px);	
	box-shadow:  0px 0px 0px 0px rgba(255, 255, 255, 0);
	cursor: pointer;
	border: none;
	margin: 0;	
}

/** label */
@mixin label($color) {
	display: inline-block;
	background: $color;
	color: $color-white !important;	
	font-size: inherit;
	font-family: $sans;	
	padding: 0.25em 1em 0.25em;
	@include border-radius(3px);	
}


@mixin ghost-button($color, $size : 18px) {
	display: inline-block;
	color: transparentize($color, 0.15);
	border: 2px solid transparentize($color, 0.15); 
	background-color: transparent;
	cursor: pointer;
	text-transform: uppercase;
	font-family: $sans;	
	padding: 0.4em 1.8em 0.4em;	
	
	@include rem('font-size', $size);		
	@include transition-all(0.3s);
	
	&:hover, &:focus, &:active {
		border: 2px solid $color; 
		color: $color;
		background: transparentize($color, 0.9);
	}	
}



