/*---------------------------------------------------------
 Widgets (_widgets.scss)
-------------------------------------------------------- */

.widget {
	@include rem('margin-bottom', $base*1.5);
}

.widget-title {
	@include widget-title(14px);	
}

#bottombar {
	.widget:last-child {
		margin-bottom: 0;
	}
	
	.no-title {
		@include rem('padding-top', 14px*3);
	}
}

//type


.widget_nav_menu.bottom {
	
	li {
		margin-bottom: 5px;
	}
	
	a {
		display: inline-block;
		text-transform: uppercase;		
	}
}


.widget.newsletter {
	p { margin: 0 0 5px;	}
	
	input[type="text"],
	input[type="email"] {
		border-color: $color-text-black;
		border-radius: 0px;
		background: transparent;
		padding: 4px;
		&:focus {
			background: $color-white;
		}
		
		@include placeholder {
			color: $color-text;
			font-size: 0.9em;
		}
	}
	
	
}

.sidebar-wide .widget.newsletter {
	input[type="submit"] {
		@include fixed-button($color-link-two, $color-link-three, 13px);
		
	}
}

#bottombar .widget.newsletter {
	
	input[type="submit"] {
		//@include fixed-button($color-text-black, $color-link-three, 13px);
		@include ghost-button($color-text-black, 13px);
		
		//background: rgba(255,255,2550, 0.5);
	}
}