/* modules */
@import 'bourbon';

@import 'reset';
@import 'presets';
@import 'utility';
@import 'forms';
@import 'semantics';



html .mceContentBody {
	font-size: 100%;
	max-width: 690px;
}

body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;
	@include rem('font-size', 14px);
	line-height: 1.5;
	color: $color-text;
	font-family: $sans;	
	margin: 15px;
}

a {
	color: $color-link-one-dark;	
	text-decoration: none; 
	&:visited { color: $color-link-one; }
	&:hover, &:focus, &:active { color: $color-link-three; }	
}

p {
	margin-bottom: base/2;
	margin-top: $base/2;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

p,ul,ol,dl,blockquote {
	@extend .break;
}


// some content
@include post-content-elements;
@include post-content-defaults;

h1,  h2,  h3,  h4,  h5,  h6 {
	&:first-of-type {
		margin-top: $base*0.75;
	}
	margin: $base*0.75 0 $base*0.75;	
}

//media
.wp-caption {
	background: transparent;
	border: none;
}