@charset "UTF-8";
/* modules */
@font-face {
  font-family: 'Cambria-Bold';
  src: url("../fonts/Cambria-Bold.eot");
  src: url("../fonts/Cambria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cambria-Bold.woff2") format("woff2"), url("../fonts/Cambria-Bold.woff") format("woff"), url("../fonts/Cambria-Bold.ttf") format("truetype"), url("../fonts/Cambria-Bold.svg#Cambria-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cambria-Bold';
  src: url("../fonts/Cambria-Bold.eot");
  src: url("../fonts/Cambria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cambria-Bold.woff2") format("woff2"), url("../fonts/Cambria-Bold.woff") format("woff"), url("../fonts/Cambria-Bold.ttf") format("truetype"), url("../fonts/Cambria-Bold.svg#Cambria-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
/*---------------------------------------------------------
 Reset (_reset.scss)
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff; }

a:focus,
a:hover,
a:active {
  outline: 0;
  outline: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

sub,
sup {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

a img {
  border: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/*---------------------------------------------------------
 Presets (_presets.scss)
-------------------------------------------------------- */
/*---------------------------------------------------------
 Mixins (_utility.scss)
-------------------------------------------------------- */
/*---------------------------------------------------------
 Rem (_utility.scss)
-------------------------------------------------------- */
/*---------------------------------------------------------
 Helpers (_utility.scss)
-------------------------------------------------------- */
.screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 none;
  padding: 0; }

img.wp-smiley {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  border: none; }

/* text alignment */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: left; }

/*---------------------------------------------------------
 Predefined classes and selections (_utility.scss)
-------------------------------------------------------- */
/* utilities */
.clear {
  clear: both; }

.cf::after {
  clear: both;
  content: "";
  display: table; }

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  text-decoration: none; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0; }

.invisible {
  visibility: hidden; }

.break, h1, h2, h3, h4, h5, h6, pre, table, p, ul, ol, dl, blockquote {
  word-break: break-word;
  word-wrap: break-word; }

/* selections */
a:link {
  -webkit-tap-highlight-color: #e0edd2;
  -webkit-tap-highlight-color: #dfecd1; }

/*  highloght color for Safari iOS */
::-webkit-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::-moz-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

/*---------------------------------------------------------
 Google maps (_utility.scss)
-------------------------------------------------------- */
iframe[src*="google.com/maps"] {
  width: 100%;
  height: 300px; }
  @media screen and (min-width: 800px) {
    iframe[src*="google.com/maps"] {
      height: 600px; } }

/*--------------------------------------------------------------
 Forms (_forms.scss)
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  cursor: pointer;
  border: 1px solid;
  border-color: #eeeeee;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #e1e1e1;
  background: #e1e1e1; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #e1e1e1;
  background: #e1e1e1; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

input[type=search] {
  -moz-appearance: none;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666666;
  border: 1px solid #dfdfdf;
  border-radius: 4px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #2d2d2d; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

/*---------------------------------------------------------
 Semantics (_utility.scss)
-------------------------------------------------------- */
/* titles */
h1, h2, h3, h4, h5, h6 {
  color: #2d2d2d;
  font-family: "Cambria-Bold", Cambria, Georgia, serif;
  font-weight: normal; }
  h1 a, h1 a:visited, a h1, h2 a, h2 a:visited, a h2, h3 a, h3 a:visited, a h3, h4 a, h4 a:visited, a h4, h5 a, h5 a:visited, a h5, h6 a, h6 a:visited, a h6 {
    color: inherit;
    text-decoration: none;
    font-weight: normal; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #E7792B; }

/*h1 {
	@include for(medium-screens) {
		@include rem('font-size', 30px);
	}
	font-weight: normal;
	line-height: 1.15;
	@include rem('font-size', 28px);
}

h2 {
	@include for(medium-screens) {
		@include rem('font-size', 28px);
	}
	@include rem('font-size', 26px);
	line-height: 1.2;
}

h3 {
	@include rem('font-size', 21px);
	line-height: 1.2;
}

h4 {
	font-weight: normal;
	@include rem('font-size', 18px);
	line-height: 1.2;
}

h5 {	
	@include rem('letter-spacing', 1px);
	@include rem('font-size', 14px);
	line-height: 1.4;
}

h6 {
	font-weight: normal;
	text-transform: uppercase;
	@include rem('letter-spacing', 2px);
	@include rem('font-size', 13px);
	line-height: 1.5;
}*/
/*---------------------------------------------------------
Quote (_semantics.scss)
-------------------------------------------------------- */
/*blockquote {
	clear: both;
	@include rem('margin', $base 0);
	
	p {
		line-height: 1.5;
		@include rem('font-size', 18px);
	}
	cite {
		font-style: normal; //reset
		@include rem('margin-bottom', $base);
		@include rem('font-size', 13px);
		&:before {
			content: "\2014";
		}
	}
	
	&.testimonial {
		line-height: 0; //reset
		background-color: $color-secondary;
		@include rem('margin-bottom', $base*2);
		@include rem('padding', $base*1.5 $gut);
		@include border-radius;
		p {
			margin-bottom: 0; // reset
		}
		cite {
			display: block;
			margin-bottom: 0; // reset
			font-weight: bold;
			@include rem('padding', $base/2 0);
			@include rem('font-size', 14px);
		}
		&:after {
			content: "";
			position: relative;
			width: 0; //reset
			height: 0; //reset
			border-left: 22px solid transparent;
			border-right: 22px solid transparent;
			border-top: 22px solid $color-border-normal;
			@include rem('left', 5px);
			@include rem('bottom', -60px);
		}
	}
}*/
q:before {
  content: "\201C"; }
q:after {
  content: "\201D"; }

/*---------------------------------------------------------
Code (_semantics.scss)
-------------------------------------------------------- */
tt,
kbd,
pre,
code,
samp,
var {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;
  background-color: #f1f1f1;
  padding: 4px 6px;
  padding:  0.4rem 0.6rem;
  border-radius: 3px; }

pre {
  overflow: auto;
  max-width: 100%;
  line-height: 1.4;
  margin: 24px 0;
  margin:  2.4rem 0;
  padding: 36px;
  padding: 3.6rem;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  color: #666; }

/*---------------------------------------------------------
Details (_semantics.scss)
-------------------------------------------------------- */
abbr,
acronym,
dfn {
  cursor: help;
  color: #1f1f1f;
  border-bottom: 1px dotted;
  letter-spacing: 1px;
  letter-spacing: 0.1rem; }

details summary {
  font-weight: bold;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
details :focus {
  outline: none; }

/*---------------------------------------------------------
In-page elements (_semantics.scss)
-------------------------------------------------------- */
ins,
mark {
  background-color: #eefded;
  color: #1f1f1f;
  text-decoration: none; }

del {
  text-decoration: line-through; }

b,
strong {
  font-weight: bold; }

dfn,
i,
em,
cite {
  font-style: italic; }

small {
  font-size: 85%; }

big {
  font-size: 125%; }

address {
  margin: 24px 0;
  margin:  2.4rem 0; }

hr {
  border: 0;
  border-top: 1px solid #dfdfdf;
  height: 1px;
  margin-bottom: 24px; }
  hr.hr-line-dashed {
    border-top: 1px dashed #dfdfdf; }
  hr.hr-line-double {
    border-top: 6px double #dfdfdf; }

figure {
  margin: 0; }

/*---------------------------------------------------------
Lists (_semantics.scss)
-------------------------------------------------------- */
ul,
ol {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

/*---------------------------------------------------------
Tables (semantics.scss)
-------------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  border: 1px solid #dfdfdf;
  border-left: 0;
  margin: 24px 0;
  margin:  2.4rem 0; }
  table caption {
    font-weight: bold;
    margin-bottom: 24px;
    margin-bottom: 2.4rem; }
  table th,
  table td {
    padding: 12px 7.5px;
    padding:  1.2rem 0.75rem; }
  table th {
    border-left: 1px solid #dfdfdf; }
  table td {
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf; }
    table td[valign="top"] {
      vertical-align: top; }
      table td[valign="top"] img {
        vertical-align: top; }
    table td[valign="bottom"] {
      vertical-align: bottom; }
      table td[valign="bottom"] img {
        vertical-align: bottom; }

/*---------------------------------------------------------
Alerts (_semantics.scss)
-------------------------------------------------------- */
.msg-alert {
  position: relative;
  overflow: hidden;
  border: 1px solid #b9b9b9;
  background-color: #dfdfdf;
  padding: 36px 30px;
  padding:  3.6rem 3rem;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 3px; }
  .msg-alert:before {
    content: "\f05a";
    display: block;
    position: absolute;
    opacity: .1;
    font-family: FontAwesome;
    line-height: 1;
    bottom: -12px;
    bottom: -1.2rem;
    right: -12px;
    right: -1.2rem;
    font-size: 72px;
    font-size: 7.2rem; }
  .msg-alert.msg-error {
    color: #d04242;
    border: 1px solid #dfbaba;
    background-color: #f7eeee; }
    .msg-alert.msg-error:before {
      content: "\f06a"; }
  .msg-alert.msg-success {
    color: #339d56;
    border: 1px solid #badfc6;
    background: #eef7f1; }
    .msg-alert.msg-success:before {
      content: "\f058"; }
  .msg-alert.msg-important {
    color: #f89e01;
    border: 1px solid #fff365;
    background-color: #fffde5; }
    .msg-alert.msg-important:before {
      content: "\f06a"; }

/*---------------------------------------------------------
 Content elements (_semantics.scss)
-------------------------------------------------------- */
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  margin: 28.8px 0 24px;
  font-weight: bold; }
  .entry-content h1:first-child, .entry-content h1:first-of-type, .entry-content h2:first-child, .entry-content h2:first-of-type, .entry-content h3:first-child, .entry-content h3:first-of-type, .entry-content h4:first-child, .entry-content h4:first-of-type, .entry-content h5:first-child, .entry-content h5:first-of-type, .entry-content h6:first-child, .entry-content h6:first-of-type {
    margin-top: 0; }
.entry-content h1 {
  font-size: 2em; }
.entry-content h2 {
  font-size: 1.8em; }
.entry-content h3 {
  font-size: 1.6em; }
.entry-content h4 {
  font-size: 1.4em; }
.entry-content h5 {
  font-size: 1.2em;
  font-weight: 400; }
.entry-content h6 {
  margin-bottom: 18px;
  font-size: 0.9em;
  text-transform: uppercase; }
.entry-content h1 + h1, .entry-content h1 + h2, .entry-content h1 + h3, .entry-content h1 + h4, .entry-content h1 + h5, .entry-content h1 + h6,
.entry-content h2 + h1, .entry-content h2 + h2, .entry-content h2 + h3, .entry-content h2 + h4, .entry-content h2 + h5, .entry-content h2 + h6,
.entry-content h3 + h1, .entry-content h3 + h2, .entry-content h3 + h3, .entry-content h3 + h4, .entry-content h3 + h5, .entry-content h3 + h6,
.entry-content h4 + h1, .entry-content h4 + h2, .entry-content h4 + h3, .entry-content h4 + h4, .entry-content h4 + h5, .entry-content h4 + h6,
.entry-content h5 + h1, .entry-content h5 + h2, .entry-content h5 + h3, .entry-content h5 + h4, .entry-content h5 + h5, .entry-content h5 + h6,
.entry-content h6 + h1, .entry-content h6 + h2, .entry-content h6 + h3, .entry-content h6 + h4, .entry-content h6 + h5, .entry-content h6 + h6 {
  margin-top: 25px; }
.entry-content blockquote {
  margin: 2.5em 0;
  padding: 0 80px 0 0;
  position: relative;
  color: #666666; }
  .entry-content blockquote:before {
    content: "\f122";
    font: 64px/1 dashicons;
    width: 64px;
    height: 64px;
    color: #ea8742;
    position: absolute;
    top: -4px;
    right: -6px; }
  .entry-content blockquote p {
    font-size: 1.1em;
    line-height: 1.55;
    font-style: italic; }
  .entry-content blockquote cite {
    display: block;
    margin-top: 1em; }
    .entry-content blockquote cite em {
      font-style: italic;
      font-weight: 700; }
.entry-content cite {
  font-size: 0.9rem;
  line-height: 140%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .entry-content cite:before {
    content: "— "; }
.entry-content address {
  margin: 0;
  padding: 3% 3.5%;
  background: #f1f1f1; }
.entry-content pre {
  padding: 2% 2.5%;
  background: #333;
  font-size: 0.8em;
  color: #ffffff;
  border-radius: 6px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
.entry-content .highlight {
  background: #eefded;
  width: auto;
  display: inline;
  padding: 2px 3px; }
.entry-content dl {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.6; }
  .entry-content dl:first-child {
    margin-top: 0; }
  .entry-content dl:last-child {
    margin-bottom: 0; }
  .entry-content dl dt {
    font-weight: 700;
    margin-top: 0.5em; }
    .entry-content dl dt:first-child {
      margin-top: 0; }
.entry-content hr {
  width: 100%;
  height: 2px;
  background: #f6f6f6;
  margin: 3em auto;
  border: 0; }
.entry-content ul {
  list-style: disc;
  margin-left: 1.5em; }
.entry-content ul ul {
  list-style: circle; }
.entry-content ul ul ul {
  list-style: square; }
.entry-content ol {
  list-style: decimal;
  margin-left: 1.5em; }
.entry-content ol ol {
  list-style: lower-alpha; }
.entry-content ol ol ol {
  list-style: lower-roman; }
.entry-content ul ul,
.entry-content ul ol,
.entry-content ol ul,
.entry-content ol ol {
  margin-bottom: 0; }
.entry-content li {
  margin-bottom: 0.5em;
  line-height: 1.7; }
  .entry-content li:last-child {
    margin-bottom: 0; }
  .entry-content li:first-child {
    margin-top: 0.5em; }
.entry-content img.alignleft,
.entry-content .alignleft img,
.entry-content img.aligncenter,
.entry-content .aligncenter img,
.entry-content img.alignright,
.entry-content .alignright img,
.entry-content img.alignnone,
.entry-content .alignnone img {
  display: block;
  box-sizing: border-box; }
.entry-content .alignleft,
.entry-content .alignright {
  margin-bottom: 1em;
  max-width: 45%; }
.entry-content .wp-caption .alignleft,
.entry-content .wp-caption .alignright {
  margin-bottom: 0; }
.entry-content .alignleft {
  float: left;
  margin-right: 1em; }
.entry-content .alignright {
  float: right;
  margin-left: 1em; }
.entry-content .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.entry-content .wp-caption {
  font-style: italic;
  line-height: 1.35;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
.entry-content .wp-caption.alignnone,
.entry-content .wp-caption.aligncenter {
  max-width: 98%; }
.entry-content .wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto; }
.entry-content .wp-caption-text {
  font-style: italic;
  line-height: 1.35;
  font-size: 13px;
  font-size: 1.3rem;
  margin: 12px 0 0;
  margin:  1.2rem 0 0;
  text-align: center; }
.entry-content div.wp-video-shortcode {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
.entry-content .metaslider {
  max-width: 98%; }
  .entry-content .metaslider .caption-wrap {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    max-width: 80%;
    bottom: 5px; }
    @media screen and (min-width: 800px) {
      .entry-content .metaslider .caption-wrap {
        max-width: 60%; } }
  .entry-content .metaslider .caption {
    font-size: 0.9em;
    padding: 8px 15px;
    padding:  0.8rem 1.5rem; }

/*---------------------------------------------------------
 Grid (_grid.scss)
-------------------------------------------------------- */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bit {
  float: left;
  padding: 0 15px;
  width: 100%;
  margin-bottom: 24px; }

.bit:last-child {
  margin-bottom: 0; }

.frame {
  margin: 0 -15px; }

.frame:after {
  content: "";
  display: table;
  clear: both; }

.mf-8 {
  width: 66.6666666667%;
  margin-bottom: 0; }

.mf-6 {
  width: 50%;
  margin-bottom: 0; }

.mf-4 {
  width: 33.3333333333%;
  margin-bottom: 0; }

@media screen and (min-width: 500px) {
  .sm-1 {
    width: 8.3333333333%;
    margin-bottom: 0; }

  .sm-2 {
    width: 16.6666666667%;
    margin-bottom: 0; }

  .sm-3 {
    width: 25%;
    margin-bottom: 0; }

  .sm-4 {
    width: 33.3333333333%;
    margin-bottom: 0; }

  .sm-5 {
    width: 41.6666666667%;
    margin-bottom: 0; }

  .sm-6 {
    width: 50%;
    margin-bottom: 0; }

  .sm-7 {
    width: 58.3333333333%;
    margin-bottom: 0; }

  .sm-8 {
    width: 66.6666666667%;
    margin-bottom: 0; }

  .sm-9 {
    width: 75%;
    margin-bottom: 0; }

  .sm-10 {
    width: 83.3333333333%;
    margin-bottom: 0; }

  .sm-11 {
    width: 91.6666666667%;
    margin-bottom: 0; }

  .sm-12 {
    width: 100%;
    margin-bottom: 0; }

  .sm-offeset-0 {
    margin-left: 0% !important; }

  .sm-offeset-1 {
    margin-left: 8.3333333333% !important; }

  .sm-offeset-2 {
    margin-left: 16.6666666667% !important; }

  .sm-offeset-3 {
    margin-left: 25% !important; }

  .sm-offeset-4 {
    margin-left: 33.3333333333% !important; }

  .sm-offeset-5 {
    margin-left: 41.6666666667% !important; }

  .sm-offeset-6 {
    margin-left: 50% !important; }

  .sm-offeset-7 {
    margin-left: 58.3333333333% !important; }

  .sm-offeset-8 {
    margin-left: 66.6666666667% !important; }

  .sm-offeset-9 {
    margin-left: 75% !important; }

  .sm-offeset-10 {
    margin-left: 83.3333333333% !important; }

  .sm-offeset-11 {
    margin-left: 91.6666666667% !important; }

  .sm-col-5 {
    width: 20%; } }
@media screen and (min-width: 800px) {
  .md-1 {
    width: 8.3333333333%;
    margin-bottom: 0; }

  .md-2 {
    width: 16.6666666667%;
    margin-bottom: 0; }

  .md-3 {
    width: 25%;
    margin-bottom: 0; }

  .md-4 {
    width: 33.3333333333%;
    margin-bottom: 0; }

  .md-5 {
    width: 41.6666666667%;
    margin-bottom: 0; }

  .md-6 {
    width: 50%;
    margin-bottom: 0; }

  .md-7 {
    width: 58.3333333333%;
    margin-bottom: 0; }

  .md-8 {
    width: 66.6666666667%;
    margin-bottom: 0; }

  .md-9 {
    width: 75%;
    margin-bottom: 0; }

  .md-10 {
    width: 83.3333333333%;
    margin-bottom: 0; }

  .md-11 {
    width: 91.6666666667%;
    margin-bottom: 0; }

  .md-12 {
    width: 100%;
    margin-bottom: 0; }

  .md-offset-0 {
    margin-left: 0% !important; }

  .md-offset-1 {
    margin-left: 8.3333333333% !important; }

  .md-offset-2 {
    margin-left: 16.6666666667% !important; }

  .md-offset-3 {
    margin-left: 25% !important; }

  .md-offset-4 {
    margin-left: 33.3333333333% !important; }

  .md-offset-5 {
    margin-left: 41.6666666667% !important; }

  .md-offset-6 {
    margin-left: 50% !important; }

  .md-offset-7 {
    margin-left: 58.3333333333% !important; }

  .md-offset-8 {
    margin-left: 66.6666666667% !important; }

  .md-offset-9 {
    margin-left: 75% !important; }

  .md-offset-10 {
    margin-left: 83.3333333333% !important; }

  .md-offset-11 {
    margin-left: 91.6666666667% !important; }

  .md-col-5 {
    width: 20%;
    margin-bottom: 0; } }
@media screen and (min-width: 1000px) {
  .lg-1 {
    width: 8.3333333333%;
    margin-bottom: 0; }

  .lg-2 {
    width: 16.6666666667%;
    margin-bottom: 0; }

  .lg-3 {
    width: 25%;
    margin-bottom: 0; }

  .lg-4 {
    width: 33.3333333333%;
    margin-bottom: 0; }

  .lg-5 {
    width: 41.6666666667%;
    margin-bottom: 0; }

  .lg-6 {
    width: 50%;
    margin-bottom: 0; }

  .lg-7 {
    width: 58.3333333333%;
    margin-bottom: 0; }

  .lg-8 {
    width: 66.6666666667%;
    margin-bottom: 0; }

  .lg-9 {
    width: 75%;
    margin-bottom: 0; }

  .lg-10 {
    width: 83.3333333333%;
    margin-bottom: 0; }

  .lg-11 {
    width: 91.6666666667%;
    margin-bottom: 0; }

  .lg-12 {
    width: 100%;
    margin-bottom: 0; }

  .lg-offset-0 {
    margin-left: 0% !important; }

  .lg-offset-1 {
    margin-left: 8.3333333333% !important; }

  .lg-offset-2 {
    margin-left: 16.6666666667% !important; }

  .lg-offset-3 {
    margin-left: 25% !important; }

  .lg-offset-4 {
    margin-left: 33.3333333333% !important; }

  .lg-offset-5 {
    margin-left: 41.6666666667% !important; }

  .lg-offset-6 {
    margin-left: 50% !important; }

  .lg-offset-7 {
    margin-left: 58.3333333333% !important; }

  .lg-offset-8 {
    margin-left: 66.6666666667% !important; }

  .lg-offset-9 {
    margin-left: 75% !important; }

  .lg-offset-10 {
    margin-left: 83.3333333333% !important; }

  .lg-offset-11 {
    margin-left: 91.6666666667% !important; }

  .lg-col-5 {
    width: 20%;
    margin-bottom: 0; } }
/*---------------------------------------------------------
LAM Galleries (_modules.scss)
-------------------------------------------------------- */
.lam-clearfix::after {
  clear: both;
  content: "";
  display: table; }

.fresco {
  display: block;
  width: 100%; }
  .fresco img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; }

.lam-gallery * {
  box-sizing: border-box; }

.entry-content .lam-gallery {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 98%; }
  .entry-content .lam-gallery:first-child {
    margin-top: 0; }
  .entry-content .lam-gallery:last-child {
    margin-bottom: 0; }

.entry-content .lam-gallery ul,
.lam-gallery ul {
  list-style-type: none !important;
  padding: 0;
  margin: 0 -5px; }
.entry-content .lam-gallery li,
.lam-gallery li {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 5px;
  float: left; }
.entry-content .lam-gallery .cols-1 li,
.lam-gallery .cols-1 li {
  width: 100%; }
.entry-content .lam-gallery .cols-2 li,
.lam-gallery .cols-2 li {
  width: 50%; }
.entry-content .lam-gallery .cols-3 li,
.lam-gallery .cols-3 li {
  width: 33.3%; }
.entry-content .lam-gallery .cols-4 li,
.lam-gallery .cols-4 li {
  width: 25%; }
.entry-content .lam-gallery .cols-5 li,
.lam-gallery .cols-5 li {
  width: 20%; }
.entry-content .lam-gallery .cols-6 li,
.lam-gallery .cols-6 li {
  width: 16.6%; }
.entry-content .lam-gallery .cols-7 li,
.lam-gallery .cols-7 li {
  width: 14.28%; }
.entry-content .lam-gallery .cols-8 li,
.lam-gallery .cols-8 li {
  width: 12.5%; }

.fr-caption h3 {
  color: #ffffff;
  font-size: 14px; }

/*---------------------------------------------------------
 Top Link (_modules.scss)
-------------------------------------------------------- */
#top-link {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 14px;
  border: 1px solid #cecece;
  background: #eee;
  background: rgba(230, 230, 230, 0.9);
  padding: 4px 15px 5px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  z-index: 900;
  cursor: pointer; }
  #top-link a,
  #top-link a:visited {
    color: #222222;
    font-size: 11px;
    line-height: 1.1;
    text-decoration: none;
    border: none !important;
    text-shadow: 1px 1px 1px #F2F2F2; }
  #top-link:hover, #top-link:active, #top-link:focus {
    background: #d2d2d2;
    background: rgba(200, 200, 200, 0.9);
    border: 1px solid #c5c5c5; }

.no-js #top-link,
.ie6 #top-link {
  display: none !important; }

/*---------------------------------------------------------
 Search (_modules.scss)
-------------------------------------------------------- */
.searchform {
  border: 1px solid #aaa;
  position: relative;
  height: 30px; }
  .searchform, .searchform * {
    box-sizing: border-box; }
  .searchform .search-field {
    width: 100%;
    padding: 6px 28px 6px 6px;
    background: transparent;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 14px;
    line-height: 1.4rem;
    border: none;
    color: #444;
    border-radius: 0px; }
    .searchform .search-field:focus {
      background: rgba(255, 255, 255, 0.85);
      color: #444; }
  .searchform .submit-icon {
    background: transparent;
    width: 29px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .searchform .submit-icon .fa {
      color: #aaa;
      position: absolute;
      top: 4px;
      left: 6px;
      z-index: 1;
      width: 24px;
      height: 24px;
      font-size: 18px; }
    .searchform .submit-icon input {
      position: absolute;
      background: transparent;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      border: none;
      padding: 0;
      cursor: pointer;
      box-shadow: none;
      text-shadow: none; }

.searchform.focus {
  border-color: #E7792B; }
  .searchform.focus .submit-icon .fa {
    color: #E7792B; }
    .searchform.focus .submit-icon .fa:hover {
      color: #df6b19; }

#primary .search-holder {
  margin-bottom: 36px; }
  #primary .search-holder .res-count {
    padding-top: 4px;
    font-size: 11px; }

.search-item {
  margin-bottom: 24px; }
  .search-item h4 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: normal; }
  .search-item cite {
    display: block;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: normal;
    color: #aa0000;
    margin-bottom: 12px; }
  .search-item .item-summary p {
    margin: 0; }

/*---------------------------------------------------------
 Partners gallery (_modules.scss)
-------------------------------------------------------- */
.partners.logo-gallery .bit {
  padding: 5px; }
  .partners.logo-gallery .bit:nth-of-type(3n+1) {
    clear: left; }
  @media screen and (min-width: 800px) {
    .partners.logo-gallery .bit:nth-of-type(3n+1) {
      clear: none; }
    .partners.logo-gallery .bit:nth-of-type(4n+1) {
      clear: left; } }
  @media screen and (min-width: 1000px) {
    .partners.logo-gallery .bit:nth-of-type(4n+1) {
      clear: none; }
    .partners.logo-gallery .bit:nth-of-type(6n+1) {
      clear: left; } }
.partners.logo-gallery .logo {
  border: 1px solid #eeeeee;
  position: relative; }
.partners.logo-gallery .logo-frame {
  height: 0;
  padding-bottom: 65%;
  position: relative;
  width: 100%; }
  .partners.logo-gallery .logo-frame span,
  .partners.logo-gallery .logo-frame a {
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center; }
    .partners.logo-gallery .logo-frame span img,
    .partners.logo-gallery .logo-frame a img {
      display: inline;
      height: auto;
      max-height: 98%;
      max-width: 100%;
      vertical-align: middle;
      width: auto; }
.partners.logo-gallery .logo .partner-cat {
  font-size: 10px;
  text-transform: uppercase;
  background: rgba(150, 150, 150, 0.95);
  color: #fff;
  padding: 5px 8px;
  display: none;
  position: absolute;
  z-index: 100;
  max-width: 90%;
  left: 6%;
  top: 10%;
  margin: 0; }
.partners.logo-gallery .logo:hover .partner-cat {
  display: inline-block; }

.partners.logo-gallery.frame {
  margin: 0 -5px; }

/*---------------------------------------------------------
  Yandex search (_modules.scss)
-------------------------------------------------------- */
.ya-site-form table {
  margin: 0;
  padding: 0;
  border: none; }
.ya-site-form td, .ya-site-form tr, .ya-site-form th {
  border: none;
  padding: 0; }
.ya-site-form .ya-site-form__search-input {
  padding: 0; }
.ya-site-form .ya-site-form__input input {
  padding: 6px; }

#ya-site-results .b-head_type_search-simple {
  display: none; }
#ya-site-results .b-serp-item__content {
  line-height: 1.4; }
#ya-site-results .b-serp-item__title {
  display: inline-block;
  padding-bottom: 0.65em; }
#ya-site-results .b-serp-item {
  margin-bottom: 1.8em; }
#ya-site-results .b-serp-item__number {
  display: none; }
#ya-site-results .b-body-items {
  padding-left: 0; }

/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
  font-size: 62.5%;
  background-color: #ffffff; }

body {
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #444;
  font-family: "Open Sans", sans-serif; }

a {
  color: #E7792B;
  text-decoration: none; }
  a:visited {
    color: #E7792B; }
  a:hover, a:focus, a:active {
    color: #aa0000; }

p {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  margin-top: 24px;
  margin-top: 2.4rem; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

/* structure */
.container {
  width: 85%;
  max-width: 978px;
  margin: 0 auto;
  position: relative; }

.site-header {
  margin-bottom: 30px;
  margin-bottom: 3rem; }

.site-branding {
  text-align: center; }
  .site-branding .site-description {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 3px 0;
    padding:  0.3rem 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }
  .site-branding .site-name {
    font-family: "Cambria-Bold", Cambria, Georgia, serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    font-size: 45px;
    font-size: 4.5rem;
    padding: 10px 0;
    padding:  1rem 0; }
    .site-branding .site-name a, .site-branding .site-name span {
      color: #E7792B; }
    @media screen and (min-width: 800px) {
      .site-branding .site-name {
        font-size: 80px;
        font-size: 8rem; } }
    @media screen and (min-width: 1000px) {
      .site-branding .site-name {
        font-size: 90px;
        font-size: 9rem; } }

.site-content {
  position: relative;
  background: transparent; }
  .site-content .bg {
    display: none; }
  @media screen and (min-width: 800px) {
    .site-content .bg {
      content: '';
      display: block;
      width: 100%;
      height: 845px;
      max-height: 100%;
      background: transparent url(../img/bg.jpg) no-repeat center top;
      background-size: cover;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 1; }
    .site-content .container {
      z-index: 10; } }

body.single .site-content .container,
body.page-template-default .site-content .container {
  padding: 0 30px;
  padding:  0 3rem;
  background: rgba(255, 255, 255, 0.95); }

.section-header .section-title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 100; }

.page-template-page-stories .section-header {
  margin-bottom: 36px;
  margin-bottom: 3.6rem;
  position: relative; }
@media screen and (min-width: 800px) {
  .page-template-page-stories .section-title {
    background: rgba(255, 255, 255, 0.95);
    display: inline-block;
    padding: 0 1em 0.2em;
    margin-top: -15px; } }
.page-template-page-stories .all-link {
  margin-top: 5px;
  margin-top: 0.5rem; }
  @media screen and (min-width: 800px) {
    .page-template-page-stories .all-link {
      display: inline-block;
      margin: 0; }
      .page-template-page-stories .all-link a {
        display: block;
        position: relative;
        top: -12px; } }

.blog .section-header,
.post-type-archive-book .section-header,
.post-type-archive-document .section-header {
  margin-bottom: 36px;
  margin-bottom: 3.6rem;
  position: relative; }
@media screen and (min-width: 800px) {
  .blog .section-title,
  .post-type-archive-book .section-title,
  .post-type-archive-document .section-title {
    background: rgba(255, 255, 255, 0.95);
    display: inline-block;
    padding: 0 1em 0.2em;
    margin-top: -15px; } }

.single .section-header {
  color: #E7792B;
  margin-bottom: 5px;
  margin-bottom: 0.5rem; }
  .single .section-header a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    font-size: 1.3rem; }

#bottombar {
  background: #f5f5f5;
  border-top: 3px solid #E7792B;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 30px 0;
  padding:  3rem 0;
  margin-top: 48px;
  margin-top: 4.8rem; }

.site-footer {
  padding: 19.2px 0 28.8px;
  padding:  1.92rem 0 2.88rem;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.35;
  color: #666666; }
  .site-footer .copy a {
    color: #2d2d2d;
    text-decoration: underline; }
    .site-footer .copy a:hover, .site-footer .copy a:focus, .site-footer .copy a:active {
      color: #E7792B; }
  .site-footer .te-st-bn {
    text-align: right;
    position: relative;
    height: 51px; }
    .site-footer .te-st-bn a {
      display: block;
      width: 106px;
      position: absolute;
      top: 0;
      right: 0;
      border: 1px dotted transparent;
      padding: 1px; }
      .site-footer .te-st-bn a:hover, .site-footer .te-st-bn a:focus, .site-footer .te-st-bn a:active {
        border-color: #666666; }
    .site-footer .te-st-bn span {
      display: inline-block;
      margin-right: 115px;
      padding-top: 10px; }

.map-holder {
  margin-bottom: 36px;
  margin-bottom: 3.6rem; }

.page-template-page-karta .map-holder {
  margin-left: -30px;
  margin-right: -30px; }

/*---------------------------------------------------------
 Menu main (_menu.scss)
-------------------------------------------------------- */
.social-menu-position::after {
  clear: both;
  content: "";
  display: table; }

.social-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  /*.vk a {
  	background: #3C6792;
  }
  
  .facebook a {
  	background: #3D549A;
  }
  
  .linkedin a {
  	background: #0393C9;
  }
  
  .twitter a {
  	background: #01ADED;
  }
  
  .rss a {
  	background: #FAA602;
  }
  
  .odnoklassniki a {
  	background: #EB9130;
  }
  
  .youtube a {
  	background: #E83832;
  }*/ }
  .social-menu li {
    float: left;
    margin-left: 5px; }
    .social-menu li a {
      display: block;
      font-size: 18px;
      background: #E7792B;
      color: #ffffff;
      width: 30px;
      height: 30px;
      text-align: center; }
      .social-menu li a:hover {
        background: #c86017; }
    .social-menu li i {
      color: #ffffff;
      line-height: 30px; }
      .social-menu li i span {
        display: none; }

/** Menu **/
#top_nav {
  min-height: 10px;
  text-align: center; }
  #top_nav .nomobile {
    display: none; }
    @media screen and (min-width: 800px) {
      #top_nav .nomobile {
        display: inline-block; }
        #top_nav .nomobile::after {
          clear: both;
          content: "";
          display: table; } }
  @media screen and (min-width: 800px) {
    #top_nav ul {
      float: left;
      padding: 5px 0;
      padding:  0.5rem 0; }
      #top_nav ul li {
        float: left; }
      #top_nav ul a {
        display: inline-block;
        padding: 0.5em 1em;
        font-weight: 600; }
    #top_nav #search-toggle {
      float: left;
      position: relative; }
    #top_nav .search-trigger {
      width: 35px;
      height: 35px;
      margin-top: 5px;
      text-align: center;
      cursor: pointer;
      color: #E7792B; }
      #top_nav .search-trigger:hover, #top_nav .search-trigger:focus, #top_nav .search-trigger:active {
        color: #aa0000; }
      #top_nav .search-trigger .fa {
        line-height: 35px; }
    #top_nav .search-holder {
      display: none;
      background: #ffffff;
      padding: 1px;
      width: 280px;
      position: absolute;
      right: 4px;
      top: 40px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }
    #top_nav #search-toggle.toggled .search-holder {
      display: block; } }

#site_nav {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  padding-bottom: 1.5rem; }
  #site_nav .site-navigation-area {
    text-align: left;
    padding: 15px 0;
    padding:  1.5rem 0;
    display: none; }
    @media screen and (min-width: 800px) {
      #site_nav .site-navigation-area {
        display: block;
        padding: 0; } }
  #site_nav .main-menu {
    background: #2d2d2d;
    padding: 15px 5px;
    padding:  1.5rem 0.5rem;
    border-bottom: 3px solid #E7792B; }
    #site_nav .main-menu a {
      display: inline-block;
      padding: 0.25em 1em;
      color: #ffffff;
      text-transform: uppercase;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
      #site_nav .main-menu a:hover, #site_nav .main-menu a:focus, #site_nav .main-menu a:active {
        background: rgba(231, 121, 43, 0.4); }
    @media screen and (min-width: 800px) {
      #site_nav .main-menu {
        text-align: center;
        padding: 0; }
        #site_nav .main-menu li {
          display: inline-block; }
        #site_nav .main-menu a {
          padding: 0.5em 1em; }
          #site_nav .main-menu a span {
            font-size: 0.75em; } }
  #site_nav .aux-menu {
    padding: 15px 5px;
    padding:  1.5rem 0.5rem; }
    #site_nav .aux-menu a {
      display: inline-block;
      padding: 0.25em 1em;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
      #site_nav .aux-menu a:hover, #site_nav .aux-menu a:focus, #site_nav .aux-menu a:active {
        color: #E7792B;
        background: rgba(231, 121, 43, 0.2); }
    @media screen and (min-width: 800px) {
      #site_nav .aux-menu {
        display: none; } }
  #site_nav .menu-toggle {
    border: none;
    padding: 0.75em 1em;
    min-width: 100px;
    text-align: center; }
    @media screen and (min-width: 800px) {
      #site_nav .menu-toggle {
        display: none; } }
  @media screen and (min-width: 800px) {
    #site_nav {
      border-bottom: none;
      padding-bottom: 0; }
      #site_nav .search-holder {
        display: none; } }

#site_nav.toggled .site-navigation-area {
  display: block; }

/*---------------------------------------------------------
 Widgets (_widgets.scss)
-------------------------------------------------------- */
.widget {
  margin-bottom: 36px;
  margin-bottom: 3.6rem; }
  .widget:last-child {
    margin-bottom: 0; }
  .widget .widget-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-size: 1.4rem;
    color: #2d2d2d;
    text-transform: uppercase;
    margin-bottom: 1.5em; }

.textwidget {
  font-size: 12px;
  font-size: 1.2rem; }

.general-button {
  display: inline-block;
  background: #E7792B;
  color: #ffffff;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 1.2em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .general-button:visited {
    background: #E7792B;
    color: #ffffff; }
  .general-button:hover {
    background: #c86017;
    color: #ffffff; }

/* posts */
.tpl-story .card-content {
  padding: 12px;
  padding: 1.2rem;
  background: #f9f9f9;
  border: 1px solid #eeeeee;
  border-bottom: none; }
.tpl-story .entry-header {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
.tpl-story .entry-title {
  font-weight: bold;
  font-family: "Cambria-Bold", Cambria, Georgia, serif;
  font-size: 21px;
  font-size: 2.1rem;
  color: #2d2d2d;
  line-height: 1.15; }
  .tpl-story .entry-title a {
    color: #2d2d2d; }
    .tpl-story .entry-title a:hover, .tpl-story .entry-title a:focus, .tpl-story .entry-title a:active {
      color: #E7792B; }
.tpl-story .entry-summary {
  font-style: italic; }
.tpl-story .tags {
  background: #E7792B;
  color: #ffffff;
  padding: 4px 12px;
  padding:  0.4rem 1.2rem; }
  .tpl-story .tags i {
    margin-right: 5px; }
  .tpl-story .tags a {
    font-size: 11px;
    font-size: 1.1rem;
    color: #ffffff;
    font-style: italic;
    text-transform: uppercase; }
.tpl-story:nth-of-type(even) .tags {
  background: #2d2d2d; }
@media screen and (min-width: 800px) {
  .tpl-story {
    margin-bottom: 30px;
    margin-bottom: 3rem; }
    .tpl-story .post-inner {
      height: 100%;
      position: relative; }
    .tpl-story .card-content {
      border-color: #ffffff;
      padding-bottom: 42px;
      height: 100%; }
    .tpl-story .tags {
      height: 30px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0; }
    .tpl-story .entry-summary {
      font-size: 12px;
      font-size: 1.2rem; }
    .tpl-story .md-7 {
      padding-left: 0; } }

.loop-nav {
  margin-top: 36px;
  margin-top: 3.6rem;
  text-align: center;
  position: relative;
  z-index: 1;
  background: transparent; }
  .loop-nav:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #dfdfdf;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1; }
  .loop-nav a {
    display: inline-block;
    padding: 0.1em 1em;
    background: #ffffff;
    z-index: 20; }

.tpl-post-full .entry-header {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
  .tpl-post-full .entry-header .entry-meta {
    color: #999999;
    font-style: italic; }
.tpl-post-full .entry-title {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.15;
  font-weight: bold;
  color: #2d2d2d;
  word-break: break-word;
  -ms-word-break: break-word; }
.tpl-post-full .entry-media {
  position: relative;
  z-index: 1;
  background: transparent;
  overflow: visible; }
  .tpl-post-full .entry-media:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #2d2d2d;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    z-index: -1; }
.tpl-post-full .content-section,
.tpl-post-full .intro-section {
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
.tpl-post-full .entry-summary {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 24px 0;
  padding:  2.4rem 0;
  font-style: italic;
  font-size: 1.2em; }

.single-footer {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 5px 0;
  padding:  0.5rem 0; }
  .single-footer .pubdate {
    margin-right: 20px;
    line-height: 27px; }
    .single-footer .pubdate i {
      color: #999999;
      margin-right: 5px; }
    .single-footer .pubdate time {
      font-size: 11px;
      font-size: 1.1rem;
      color: #444; }
  .single-footer .tags {
    color: #E7792B;
    line-height: 27px; }
    .single-footer .tags i {
      margin-right: 5px; }
    .single-footer .tags a {
      font-size: 11px;
      font-size: 1.1rem;
      font-style: italic;
      text-transform: uppercase; }

.post-navigation {
  text-align: right; }
  .post-navigation .nav-previous,
  .post-navigation .nav-next {
    display: inline-block;
    margin-left: 6px; }
  .post-navigation a {
    display: inline-block;
    padding: 7px;
    line-height: 1;
    font-weight: bold;
    background: #E7792B;
    color: #ffffff;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
    .post-navigation a:hover, .post-navigation a:focus, .post-navigation a:active {
      background: #c86017; }

.related-posts {
  margin-top: 36px;
  margin-top: 3.6rem; }
  .related-posts .aside-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-size: 1.4rem;
    color: #2d2d2d;
    text-transform: uppercase;
    margin-bottom: 1.5em; }

/* home */

/*# sourceMappingURL=design.css.map */