@font-face {
  font-family: 'Cambria-Bold';
  src: url('../fonts/Cambria-Bold.eot');
  src: url('../fonts/Cambria-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Cambria-Bold.woff2') format('woff2'),
       url('../fonts/Cambria-Bold.woff') format('woff'),
       url('../fonts/Cambria-Bold.ttf') format('truetype'),
       url('../fonts/Cambria-Bold.svg#Cambria-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cambria-Bold';
  src: url('../fonts/Cambria-Bold.eot');
  src: url('../fonts/Cambria-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Cambria-Bold.woff2') format('woff2'),
       url('../fonts/Cambria-Bold.woff') format('woff'),
       url('../fonts/Cambria-Bold.ttf') format('truetype'),
       url('../fonts/Cambria-Bold.svg#Cambria-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

