/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
	font-size: 62.5%; //10px
	background-color: $color-white;
}

body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;
	@include rem('font-size', 14px);
	line-height: 1.5;
	color: $color-text;
	font-family: $sans;	
}


a {
	color: $color-link-one;	
	text-decoration: none; //reset
	&:visited { color: $color-link-one; }
	&:hover, &:focus, &:active { color: $color-link-two; }
}

p {
	@include rem('margin-bottom', $base);
	@include rem('margin-top', $base);
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

p,ul,ol,dl,blockquote {
	@extend .break;
}


/* structure */
.container {
	width: 85%;
	max-width: 978px;
	margin: 0 auto;
	position: relative;
}


.site-header {
	@include rem('margin-bottom', 30px);	
}

.site-branding {
	text-align: center;
	
	.site-description {
		text-transform: uppercase;
		font-weight: bold;
		@include rem('font-size', 11px);
		letter-spacing: 1px;
		@include rem('padding', 3px 0);
		border-top: 1px solid $color-border-light;
		border-bottom: 1px solid $color-border-light;
	}
	
	.site-name {
		font-family: $heading;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1;
		@include rem('font-size', 45px);
		@include rem('padding', 10px 0);
		a, span {
			color: $color-link-one;
		}
		
		@include for(medium-screens) {
			@include rem('font-size', 80px);
		}
		@include for(large-screens) {
			@include rem('font-size', 90px);
		}
	}
}


.site-content {
	position: relative;
	background: transparent;	
	
	.bg {
		display: none;
	}
	
	@include for(medium-screens) {
		.bg {
			content: '';
			display: block;
			width: 100%;
			height: 845px;
			max-height: 94%;
			background: transparent url(../img/bg.jpg) no-repeat center top;
			background-size: cover;
			position: absolute;
			top: 20px;
			left: 0;
			z-index: 1;
		}
		.container {
			z-index: 10;
		}
	}	
}

//page-like body
body.tax-place .site-content,
body.blog .site-content,
body.single .site-content,
body.page-template-default .site-content {
		
	.container {
		@include rem('padding', 0 $gut);
		background: rgba(255,255,255, 0.95);		
	}
}

//section header
.section-header {
	
	.section-title {
		font-family: $sans;
		text-transform: uppercase;
		@include rem('font-size', 32px);
		font-weight: 100;
		
		span {
			@include rem('font-size', 14px);
			display: inline-block;
			margin-left: 15px;
			&:before {
				content: '/ ';
				color: $color-text-light;
			}
		}		
	}
}

.page-template-page-stories {
	@include boxed-header();
	
	.all-link {
		@include rem('margin-top', 5px);
		@include for(medium-screens) {
			display: inline-block;
			margin: 0;
			
			a {
				display: block;
				position: relative;
				top: -12px;
			}
		}
	}	
}


.post-type-archive-book,
.post-type-archive-document {
	@include boxed-header();
}

.tax-place,
.blog {
	.section-header {
		@include rem('margin-bottom', $base/2);
	}
	.section-title {
		margin-top: -15px;
	}
}

.single .section-header {
	@include crumb-header();
}

#bottombar {
	background: $color-secondary;
	border-top: 3px solid $color-link-one;
	@include rem('font-size', 12px);
	@include rem('padding', 30px 0);
	@include rem('margin-top', $base*2);
}


.site-footer {
	@include rem('padding', $base*0.8 0 $base*1.2);
	@include rem('font-size', 11px);
	line-height: 1.35;
	color: $color-text-semi;	
	
	.copy a {
		color: $color-text-black;
		text-decoration: underline;		
		&:hover, &:focus, &:active {
			color: $color-link-one;
		}
	}
	
	.te-st-bn {
		text-align: right;
		position: relative;
		height: 51px;
		
		a {
			display: block;
			width: 106px;
			position: absolute;
			top: 0;
			right: 0;
			border: 1px dotted transparent;
			padding: 1px;
			&:hover, &:focus, &:active {
				border-color: $color-text-semi;
			}
		}
		
		span {
			display: inline-block;
			margin-right: 115px;
			padding-top: 10px;
		}
	}
}


//map page
.map-holder {
	@include rem('margin-bottom', $base*1.5);
}

.page-template-page-karta .map-holder {
  margin-left: -30px;
  margin-right: -30px;
}