/*---------------------------------------------------------
 Menu main (_menu.scss)
-------------------------------------------------------- */

.social-menu-position {
	@include clearfix;
}
.social-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	
	
	li {
		float: left;
		margin-left: 5px;
		a {
			display: block;
			font-size: 18px;
			background: $color-link-one;
			color: $color-white;
			width: 30px;
			height: 30px;
			//@include border-radius(4px);
			text-align: center;
			&:hover {
				background: darken($color-link-one, 10%);
			}
		}
		
		i {
			color: $color-white;
			line-height: 30px;
			span {
				display: none;
			}
		}
	}
	
	/*.vk a {
		background: #3C6792;
	}
	
	.facebook a {
		background: #3D549A;
	}
	
	.linkedin a {
		background: #0393C9;
	}
	
	.twitter a {
		background: #01ADED;
	}
	
	.rss a {
		background: #FAA602;
	}
	
	.odnoklassniki a {
		background: #EB9130;
	}
	
	.youtube a {
		background: #E83832;
	}*/
}


/** Menu **/
#top_nav {
	min-height: 10px;
	text-align: center;
	
	.nomobile {
		display: none;		
		@include for(medium-screens) {
			display: inline-block;
			@include clearfix;
		}
	}
	
	@include for(medium-screens) {
		
		ul {
			float: left;
			@include rem('padding', 5px 0);
			
			li {
				float: left;
			}
			
			a {
				display: inline-block;
				padding: 0.5em 1em;
				font-weight: 600;
			}
		}
		
		#search-toggle {
			float: left;
			position: relative;
			.search-holder {
				display: none;
			}
		}
	}
}


#site_nav {
	text-align: center;
	border-bottom: 1px solid $color-border-light;
	@include rem('padding-bottom', 15px);
	
	.site-navigation-area {
		text-align: left;
		@include rem('padding', 15px 0);
		display: none;
		
		@include for(medium-screens) {
			display: block;
			padding: 0;
		}
	}
	
	.main-menu {
		background: $color-text-black;
		@include rem('padding', 15px 5px);
		border-bottom: 3px solid $color-link-one;
		
		a {
			display: inline-block;
			padding: 0.25em 1em;
			color: $color-white;
			text-transform: uppercase;
			@include transition(all 0.35s);
			
			&:hover, &:focus, &:active {
				background: transparentize($color-link-one, 0.6);		
			}
		}
		
		@include for(medium-screens) {
			text-align: center;
			padding: 0;
			
			li {
				display: inline-block;
			}
			
			a {
				padding: 0.5em 1em;
				span {
					font-size: 0.75em;
				}
			}
		}
	}
	
	.aux-menu {
		@include rem('padding', 15px 5px);
		
		a {
			display: inline-block;
			padding: 0.25em 1em;
			@include transition(all 0.35s);
			
			&:hover, &:focus, &:active {
				color: $color-link-one;
				background: transparentize($color-link-one, 0.8);
			}
		}
		
		@include for(medium-screens) {
			display: none;	
		}
	}
	
	.menu-toggle {		
		border: none;
		padding: 0.75em 1em;
		min-width: 100px;
		text-align: center;
		@include for(medium-screens) {
			display: none;	
		}
	}
	
	@include for(medium-screens) {
		border-bottom: none;
		padding-bottom: 0;
	
		.search-holder {
			display: none;	
		}
	}
}


#site_nav.toggled .site-navigation-area {
	display: block;
}



