/* posts */

.page-template-page-stories .section-header{}



.tpl-story {
	
	.card-content {
		@include rem('padding', $base/2);
		background: #f9f9f9;
		border: 1px solid $color-border-light;
		border-bottom: none;
	}
	
	.entry-header {
		@include rem('margin-bottom', $base);
	}
	
	.entry-title {
		@include post-title(20px);
	}
	
	.entry-summary {
		font-style: italic;		
	}
	
	.tags {		
		background: $color-link-one;
		color: $color-white;
		@include rem('padding', 4px $base/2);
		
		i {
			margin-right: 5px;
		}
		
		a {
			@include rem('font-size', 11px);
			color: $color-white;
			font-style: italic;
			text-transform: uppercase;
			&:hover, &:focus, &:active {
				text-decoration: underline;		
			}
		}
	}
	
	&:nth-of-type(even){
		.tags {
			background: $color-text-black;
		}
	}
	
	@include for(medium-screens) {
		@include rem('margin-bottom', $gut);
		
		.post-inner {
			height: 100%;
			position: relative;
			
		}
		
		.card-content {			
			border-color: $color-white;
			padding-bottom: 30px + $base/2;
			height: 100%;
			
		}
		
		.tags {
			height: 30px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.entry-summary {
			@include rem('font-size', 12px);
		}
		
		.md-7 {
			padding-left: 0;
		}
	}
}

.loop-nav {
	@include rem('margin-top', $base*1.5);
	text-align: center;
	position: relative;
	z-index: 1;
	background: transparent;
	
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: $color-border-normal;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: -1;
	}
	
	a {
		display: inline-block;
		padding: 0.1em 1em;
		background: $color-white;
		z-index: 20;
	}
}


//single story
.tpl-post-full {
	
	.entry-header {
		@include rem('margin-bottom', $base);
		
		.entry-meta {
			color: $color-text-light;
			font-style: italic;
		}
	}
	
	.entry-title {
		@include single-page-title(36px);
	}
	
	.entry-media {
		position: relative;
		z-index: 1;
		background: transparent;
		overflow: visible;
		
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: $color-text-black;
			position: absolute;
			top: 0;
			left: 0;
			@include transform(rotate(5deg));
			z-index: -1;
		}
	}
	
	.content-section,
	.intro-section {
		@include rem('margin-bottom', $base);
	}
	
	.entry-summary {
		border-top: 1px solid $color-border-normal;
		border-bottom: 1px solid $color-border-normal;
		@include rem('padding', $base 0);
		font-style: italic;
		font-size: 1.2em;
	}	
}

.single-footer {
	border-top: 1px solid $color-border-normal;
	border-bottom: 1px solid $color-border-normal;
	@include rem('padding', 5px 0);
	
	.pubdate {
		margin-right: 20px;
		line-height: 27px;
		
		i {
			color: $color-text-light;
			margin-right: 5px;
		}
		time {
			@include rem('font-size', 11px);
			color: $color-text
		}
	}
	
	.tags {
		color: $color-link-one;
		line-height: 27px;
		
		i {
			margin-right: 5px;
		}
		
		a {
			@include rem('font-size', 11px);			
			font-style: italic;
			text-transform: uppercase;
		}
	}
}

.post-navigation {
	text-align: right;
	
	.nav-previous,
	.nav-next {
		display: inline-block;
		margin-left: 6px;
	}
	
	a {
		display: inline-block;
		padding: 7px ;
		line-height: 1;
		font-weight: bold;
		background: $color-link-one;
		color: $color-white;
		@include transition(all 0.35s);
		
		&:hover, &:focus, &:active {
			background: darken($color-link-one, 10%);		
		}
	}
}

.related-posts {
	@include rem('margin-top', $base*1.5);
	.aside-title {
		@include widget-title(14px);
	}
}


//posts archive
.tagscloud-widget {
	@include rem('margin-bottom', $gut);
	
	.post-inner {
		height: 100%;		
		position: relative;
		min-height: 37px;
	}
	
	.widget-icon {
		position: absolute;
		top: 0;
		right: 0;
		
		i {
			background: $color-link-one;
			color: $color-white;
			width: 36px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			font-size: 25px;
			
		}
	}
	
	.widget-cloud-content {
		a {
			display: inline-block;
			padding: 1px 4px;
		}
	}
}

.tagscloud-widget.card {
	.post-inner  {
		background: #f9f9f9;
		border: 1px solid $color-border-light;
		padding: 10px 43px 10px 10px;
	}
	
	.widget-icon {		
		top: 3px;
		right: 3px;
	}
}

.tag-nav {
	.tagscloud-widget {
		@include rem('margin-bottom', $base*1.5);
		border: 1px solid $color-border-normal;
		padding: 4px;
		
		.post-inner {
			background: transparent;			
			padding: 4px 40px 4px 8px;
			background: $color-white;
		}
		
		.widget-icon {		
			top: 0;
			right: 0;
		}
	}
}

.tpl-post {
	@include rem('margin-bottom', $base);
	
	.entry-title {
		@include post-title($size: 16px);
		@include rem('margin-bottom', $base/2);
	}
	
	.entry-summary {
		@include rem('font-size', 12px);
		font-style: italic;
	}
}

.paging-navigation {
	@include rem('margin-top', $base*1.5);
	text-align: right;
	
	.pagination {
		border-top: 1px solid $color-border-normal;
		@include rem('padding', $base/2 $base);
	}
		
	.page-numbers {
		font-weight: bold;
		padding: 2px;
	}
}


//documents
.tpl-document {
	@include rem('margin-bottom', $gut);
	
	.post-inner {
		background: #f9f9f9;
		border: 1px solid $color-border-light;
		border-bottom: none;
	}
	
	.entry-header {
		@include rem('margin-bottom', $base);
	}
	
	.entry-title {
		@include post-title(20px);
	}
	
	.entry-summary {		
		font-style: italic;
		@include for(medium-screens){
			@include rem('font-size', 12px);		
		}
	}
	
	.card-content {
		@include rem('padding', $base/2);
	}
	
	.tags {
		background: $color-link-one;
		color: $color-white;
		@include rem('padding', 4px $base/2);
		
		i {
			margin-right: 5px;
		}
		
		a {
			@include rem('font-size', 12px);
			color: $color-white;
			&:hover, &:focus, &:active {
				text-decoration: underline;		
			}
		}
	}
	
	&:nth-of-type(even){
		.tags {
			background: $color-text-black;
		}
	}
	
	@include for(medium-screens){
		.post-inner {
			border-color: $color-white;		
			height: 100%;
			position: relative;			
		}
		
		.card-content {						
			padding-bottom: 30px + $base/2;				
		}
		
		.tags {
			height: 30px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			
			a {
				display: none;
				&:nth-of-type(3) {
					display: inline;
				}
				&:nth-of-type(1), &:nth-of-type(2) {
					display: inline;
					&:after {
						content: ',';
					}
				}
			}
		}	
	}
}

.post-type-archive .paging-navigation {
	background: rgba(255, 255, 255, 0.95);	
}

// single doc
.tpl-document-full {
	.entry-header {
		@include rem('margin-bottom', $base);
	}
	
	.entry-title {
		@include single-page-title(36px);
	}
	
	.entry-summary {
		@include rem('margin-bottom', $base);
		font-style: italic;
		font-size: 1.2em;
	}
	
	.document-footer {
		@include rem('margin-top', $base);
	}	
}


//book
.tpl-book {
	@extend .tpl-document;
	
	.entry-meta {
		text-transform: uppercase;
		@include rem('font-size', 12px);
		margin-top: 2px;
	}
	
	@include for(medium-screens) {
		.mf-8 {
			padding-left: 0;
		}
	}
}

.tpl-book-full {
	@extend .tpl-document-full;
	
	.entry-meta {
		text-transform: uppercase;		
		margin-top: 2px;
	}
	
	.download-link {
		@include rem('margin-top', $base);
		padding: 0.2em;
		background: $color-secondary;
		
		a {
			font-weight: bold;
		}
	}
}

//search
.tpl-search {
	@include rem('margin-bottom', $base);
	
	.entry-title {		
		@include post-title(16px);
		@include rem('margin-bottom', 3px);
	}
	
	cite {
		display: block;
		@include rem('margin-bottom', $base/4);
		color: $color-text-light;
		font-size: 0.9em;
	}
}